.o-wrapper
  width: 100%
  padding-left: 15px
  padding-right: 15px

  @media (min-width: $small-tablet)
    padding-left: 30px
    padding-right: 30px

  @media (min-width: $desktop)
    margin-left: auto
    margin-right: auto
    max-width: 1200px + 60px + 36px
    padding-left: 60px
    padding-right: 60px

.o-wrapper--left
  padding-left: 15px

  @media (min-width: $small-tablet)
    padding-left: 30px

  @media (min-width: $desktop)
    padding-left: 60px

.o-wrapper--right
  padding-right: 15px

  @media (min-width: $small-tablet)
    padding-right: 30px

  @media (min-width: $desktop)
    padding-right: 60px
