/*
 * Size utility.
 *
 * Synopsis:
 *
 *   size: <height> <width> | <height & width>
 *
 * Examples:
 *
 *     size: 100% 30px
 *       yields:
 *         height: 100%
 *         width: 30px
 *
 *     size: 5px
 *       yields:
 *         height: 5px
 *         width: 5px
 *
 */

size()
  if length(arguments) == 1
    height: arguments[0]
    width: arguments[0]
  else
    height: arguments[0]
    width: arguments[1]
