.c-app-nav
  display: flex
  justify-content: space-between
  padding: 1rem 1rem
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 6.5rem
  &__image
    height: 4.5rem
    img
      height: 100%
      width: auto
  &__action
    display: flex
    align-items: center
    .link
      padding: 0 1rem
      border-right: 1px solid #ddd
      display: block
      // height: 100%
  @media (min-width: 350px)
    padding: 1rem 1.5rem
  @media (min-width: 600px)
    height: 7.5rem
    &__image
      height: 5.5rem
  @media (min-width: 850px)
    padding: 2rem
    max-width: 1200px
    left 50%
    transform: translateX(-50%)
