.c-app-index
  color: #fff

  &__cover-page
    background-image: url('/defaults/images/index.jpg')
    background-size: cover
    background-position: left center
    min-height: 100vh
    padding: 7.5rem 1rem 3rem 1rem
    @media (min-width: 350px)
      padding: 7.5rem 1.5rem 3rem 1.5rem
    @media (min-width: 600px)
      padding: 9.5rem 1.5rem 3rem 1.5rem

    .c-app-index__title
      font-size: 15px
      font-weight: 500
      text-align: center
      margin: 0
      @media (min-width: 600px)
        font-size: 1.3rem
      @media (min-width: 1024px)
        font-size: 1.7rem

    .c-app-index__countries
      overflow: auto
      margin-top: 1rem
      display: flex
      flex-wrap: wrap
      justify-content: space-between;
      @media (min-width: 450px)
        display: block
        margin-left auto
        margin-right auto
        max-width: 29.1rem
        text-align: center
      &__wrapper
        display: block
        border 2px solid #aaa
        height: 9rem
        width: calc(50% - 0.3rem)
        transition: 0.3s ease background-color
        cursor: pointer
        margin-top: 0.7rem
        border-radius: 5px
        &:nth-child(1)
          margin-top: 0
        &:nth-child(2)
          margin-top: 0
        &:hover
          background-color: $color-secondary
        @media (min-width: 450px)
          width: 9rem
          height: 10rem
          display: inline-block
          margin: 0.35rem
          &:nth-child(1)
            margin-top: 0.35rem
          &:nth-child(2)
            margin-top: 0.35rem

      &__item
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        .img
          height: 4.5rem
          display: block
          margin-bottom: 7px
        .name
          font-weight: 500
          font-size: 13px
          margin-bottom: 2px
        .companies
          font-weight: 300
          font-size: 12px
          opacity: .8



.c-app-index__description
  background-color: $color-primary
  padding: 3rem 2rem 2rem 2rem
  &__title
    font-size: 16px
    font-weight: 500
  .paragraph
    font-size: 12px
  .img
    height: 3rem
    width: auto
  @media (min-width: 600px)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
    .paragraph
      max-width: 40rem
  @media (min-width: 900px)
    background-image: url('/defaults/images/superzicomarket.png')
    background-size: auto 100%
    background-position: 0 calc(100% + 1rem)
    &__wrapper
      max-width: 65%
    &__title
      font-size: 25px
    .paragraph
      max-width: initial
      font-size: 15px
  @media (min-width: 1024px)
    padding: 5rem 2.5rem 4rem 2.5rem

.c-app-index__partners
  padding: 7rem 1.5rem 7rem 1.5rem
  @media (max-width: 800px)
    padding: 5rem 1.5rem 5rem 1.5rem
  @media (max-width: 600px)
    padding: 4rem 1.5rem 4rem 1.5rem

  .swiper-partners
    margin-left: 2rem
    margin-right: 2rem
  .swiper-wrapper
    display: flex
    align-items center

  .swiper--next,
  .swiper--prev
    color: $color-primary
    cursor: pointer
    position: absolute
    top: 50%
    z-index: 3
    font-size: 16px
    transform: translateY(-50%)
    @media (min-width: 750px)
      font-size: 20px

  .swiper--prev
    left 0
    margin: 0
  .swiper--next
    right 0
    margin: 0

  .swiper-button-disabled
    opacity: .4
