.c-app-footer
  padding: 2.5rem 1.5rem 2rem 1.5rem
  background-color: $color-primary
  // background-color: $color-secondary
  text-align: center
  color #fff
  .c-ger-button
    background-color: darken($color-primary, 20%)
  @media (min-width: 850px)
    & > *
      display: flex
      flex-wrap: wrap
      max-width: 1024px
      margin: 0 auto
    &__wrapper-title
      order: 2
    &__wrapper-content
      order: 1
    &__wrapper-footer
      width: 100%
      order: 3
  &__wrapper-title
    max-width: 240px
    margin: 0 auto
    @media (min-width: 850px)
      text-align: right
      margin: 0 0 0 auto
      .c-ger-button
        margin-right: 0
  &__wrapper-content
    max-width: 130px
    margin: 0 auto
    @media (min-width: 450px)
      max-width: initial
    @media (min-width: 650px)
      display: flex
      justify-content: space-between
    @media (min-width: 850px)
      text-align: left
      margin: 0
      width: 60%
      & > *
        max-width: 135px
  &__subtitle
    margin: 0
    padding: 1rem 0 0.3rem 0
    font-size: 0.9rem
    font-weight: 500
  &__link
    font-size: 0.75rem
    padding: 0.2rem 0
  &__paragraph
    font-size: 0.7rem
    margin: 1.5rem 0 0 0
    padding: 1rem 1.5rem
    color: rgba(#fff, .75)
    border-top: 1px solid rgba(#fff, .5)
