.c-app-header
  display: flex
  justify-content: space-between
  height: 68px
  padding: 0 11px
  position: relative
  background-color: lighten(#1E1C1F, 6%)
  color: #ddd
  .multiselect
    &__tags
      background-color: lighten(#1E1C1F, 6%)
    &__single
      background-color: lighten(#1E1C1F, 6%)
      color: #ddd

  @media (min-width: $tablet-max)
    padding-left: 26px
    padding-right: 26px

  & > *
    align-items: center
    display: flex
    justify-content: center
    min-width: 2rem
    padding-right: 6px
    padding-left: 6px
    @media (min-width: $mobile-max)
      padding-right: 18px
      padding-left: 18px

  & > *:nth-child(1)
    padding-left: 0
  & > *:nth-last-child(1)
    padding-right: 0



.c-app-header__search-section
  background-color: lighten(#1E1C1F, 6%)
  height: 100%
  left 0
  opacity: 0
  position: absolute
  top: -100%
  transition: top 0.5s ease, opacity 0.5s ease
  width: 100%
  z-index: 9
  display: none
  @media (max-width: 500px)
    display: flex
  input
    background-color: lighten(#1E1C1F, 6%)
    border-radius: 0
    border: none
    border-bottom: 1px solid lighten($color-text, 80%)
    height: initial
    padding-top: 0
    padding: 0 0 0.5rem 0
    width: 80%
    color: #ddd
    &:hover
      border-bottom: 1px solid lighten($color-text, 80%)
    &:focus
      border-bottom: 1px solid lighten($color-text, 80%)
      background-color: lighten(#1E1C1F, 6%)
  input::-webkit-input-placeholder /* Chrome/Opera/Safari */
    color: lighten($color-text, 40%)
  input::-moz-placeholder /* Firefox 19+ */
    color: lighten($color-text, 40%)
  input:-ms-input-placeholder /* IE 10+ */
    color: lighten($color-text, 40%)
  input:-moz-placeholder /* Firefox 18- */
    color: lighten($color-text, 40%)
  button
    border: none
    font-size: 0.9rem
    position: absolute
    right: 11%
    top: 28%

.is-searching
  .c-app-header__search-section
    opacity: 1
    top: 0

.c-app-header__Logotipo
  margin: 0
  font-style: italic
  font-weight: 700
  color: #fff
  font-size: 1.1rem
  @media (max-width: 800px)
    display: none

.c-app-header__menu
  cursor: pointer
  border: none
  .u-icon
    font-size: 25px
    margin-right: 0
  span
    margin-left: 0.5rem
    font-size: 0.8rem
    flex: none

.c-app-header__menu
  .u-icon
    opacity: 0.3
  @media (max-width: 600px)
    & > span
      display: none

.c-app-header__search
  position: relative
  border: none
  padding: 0
  width: 27%
  @media (max-width: 800px)
    width: 40%
  @media (max-width: 500px)
    width: initial
    cursor: pointer
  & > span
    display: none
    @media (max-width: 500px)
      display: inline
    @media (max-width: 400px)
      display: none
  .u-icon
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0.3rem
    color: $color-text
    @media (max-width: 500px)
      position: static
      transform: none
      color: inherit
  & > input
    padding-left: 1.5rem
    width: 100%
    border: 1px solid darken($color-background, 10%)
    background-color: darken($color-background, 10%)
    border-radius: 3px
    height: 2rem
    font-size: .9rem
    color: $color-text
    transition background-color .4s ease
    &:hover
      background-color: #fff
    @media (max-width: 500px)
      display: none

.c-app-header__companies
  max-width: 7rem
  margin-left: auto
  @media (max-width: 950px)
    margin-left: 0



.c-app-header__user-profile
  width: initial
  padding-left: 0
  flex: none


.c-app-header__language,
.c-app-header__region
  & > span
    margin-right 0.3rem

.c-app-header__language
  @media (max-width: 1024px)
    & > span
      display: none
  @media (max-width: 500px)
    display: none

// .c-app-header__region
