.c-blog
  padding: 10rem 2rem 2rem 0
  max-width: 1024px
  margin: 0 auto
  &__title
    color: #333
    font-size: 3rem
    font-weight: 200
    line-height: 1.2
    margin: 0
    text-align: center
    margin-bottom: 3rem

  &__principal
    border-bottom: 1px solid $color-text
    padding-bottom: 1.5rem

    &__image
      height: 13rem
      background-color: $color-background
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      img
        display: block
        height: 100%
        width: auto
        transition: transform .5s ease
    &__date
      padding: 2rem 0 1rem 0
      display: block
      opacity: .8
    &__title
      font-weight: 400
      color: #333
      font-size: 1.9rem
      margin: 0
      line-height: 1.2
      transition: color .4s ease
    &:hover
      .c-blog__principal__title
        color: $color-secondary
      .c-blog__principal__image
        img
          transform: scale(1.05)

  &__items
    margin-top: 4rem
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__item
    width: calc(50% - 1rem)
    border-bottom: 1px solid $color-background
    padding-bottom: 1.5rem
    margin-top: 2rem
    &:nth-child(1)
      display: none
    &:nth-child(2),
    &:nth-child(3)
      margin-top: 0
    &__image
      height: 13rem
      background-color: $color-background
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      img
        display: block
        transition: transform .5s ease
    &__date
      padding: 2rem 0 1rem 0
      display: block
      opacity: .8
    &__title
      font-weight: 400
      color: #666
      font-size: 1.3rem
      margin: 0
      line-height: 1.2
      transition: color .4s ease
    &:hover
      .c-blog__item__title
        color: $color-secondary
      .c-blog__item__image
        img
          transform: scale(1.05)
  &__wrapper
    display: flex

  &__aside
    width: 320px
    flex: none
    margin-left: 1.8rem

    .c-blog__subscription
      color: rgba(#fff, .9)
      background-color: $color-primary
      padding: 3rem 2.5rem 2rem 2.5rem
      text-align: center
      .u-icon
        font-size: 2.5rem
      &__title
        font-size: 0.9rem
        font-weight: 300
        opacity: .9
        padding: 1.5rem 1rem 1rem 1rem
        margin: 0
      &__input,
      &__submit
        width: 100%
      &__input
        margin-bottom: 0.6rem
      &__submit
        border: none
        outline: none
        background-color: $color-secondary
        padding: 1.3rem 0
        border-radius: 5px
        font-weight: 600
        font-size: 0.9rem
      &__footer
        font-size: .8rem
        opacity: .7
        padding: 1.5rem 2rem 0 2rem
        margin 0

    .c-bog__tags
      padding: 2rem 0
      &__title
        font-size: 1.5rem
        font-weight: 300
        padding-bottom 1rem
        border-bottom: 1px solid $color-background
        color: #333
        margin: 0
      &__list
        padding: 1rem 0
      &__tag
        padding: 0.2rem 0
        & > *
          display: flex
          align-items: center
          &::before
            content ''
            background-color: $color-primary
            border-radius: 50%
            display: block
            width: 10px
            height: 10px
            margin-right: 0.3rem

    .c-blog__advert
      display: flex
      height: 27rem
      justify-content: center
      align-items: center
      background-color: $color-background
      overflow: hidden
      boder
      img
        height: 100%
        width: auto
        transition: transform .5s ease
        &:hover
          transform: scale(1.1)
