.c-blog-profile
  padding: 3rem 0 2rem 0

  &__image
    height: 23rem
    background-color: $color-background
    width: 100%
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    img
      display: block
      width: 100%
      height: auto

  &__wrapper
    display: flex
    margin: 0 auto
    max-width: 1024px
    padding: 3rem 2rem 2rem 2rem

  &__title
    color: #333
    font-size: 2.2rem
    font-weight: 200
    line-height: 1
    margin: 0
    margin-bottom: 2rem
  &__date
    font-size: 1.2rem
    padding-bottom: 1rem
