.c-btn-swiper
  background-color: $color-primary
  color: #fff
  cursor: pointer
  height: 3rem
  position: absolute
  top: 50%
  width: 3rem
  z-index: 3
  transform: translateY(-50%)
  border-radius: 7px

  .u-icon
    display: flex
    justify-content: center
    align-items: center
    height: 3rem
    width: 3rem
    font-size: 1rem
    margin: 0

  &--prev
    left 2%
    margin: 0
  &--next
    right 2%
    margin: 0
  &.bottom
    top: 90%
    z-index: 2
  &--prev.bottom
    left: calc(48% - 3rem)
  &--next.bottom
    right: calc(52% - 3rem)

.c-pagination-swiper
  position: absolute
  top: 110%
  right: 50%
  transform: translateX(50%)

  .swiper-pagination-bullet
    height: 1.2rem
    width: 1.2rem
    margin-left: 0.5rem
    margin-right: 0.5rem

  .swiper-pagination-bullet-active
    background: $color-primary !important
