.c-company-info
  align-items: center
  background-color: $color-background2
  display: flex
  flex: none
  // height: 12rem
  padding: 2rem 0
  @media (max-width: 650px)
    flex-direction: column
    height: initial

  &__img
    align-items: center
    // border-radius: 50%
    border: 10px solid $color-background
    background-color: #fff
    display: flex
    flex none
    height: 11rem
    justify-content: center
    margin-right: 1.5rem
    overflow: hidden
    width: 11rem
    *:not([type="file"]):not(img)
      opacity: 0
      transition: opacity .4s ease
    img
      height: auto
      width: 80%
      display: block
    &:hover
      *:not([type="file"])
        opacity: 1
      .c-update-button:hover
        background-color: $color-success
        color: #fff
        *
          stroke: #fff
    @media (max-width: 650px)
      margin-right: auto
      height: 10rem
      width: 10rem
      margin-left: auto

  &__content
    display: flex
    flex-direction: column
    justify-content: center
    max-width: 530px
    @media (max-width: 650px)
      text-align: center
      margin-top: 1rem

  &__title
    font-size: 1.3rem
    text-transform: capitalize
    color: $color-text3
    margin: 0 0 0 0
  &__data
    font-size: 0.8rem
    color: $color-text2
    margin-top: 0.5rem
    img
      height: 1.2rem
      margin-right: 0.3rem
    .u-icon
      margin-right: 0.3rem
      margin-left: 0
      font-size: 1.1rem
    .separador
      height: 1rem
      border-left: 1px solid lighten($color-text, 40%)
      margin-left: 0.5rem
      margin-right: 0.5rem
  &__paragraph
    margin: 1rem 0 0 0
    font-size: 13px
    color: $color-text2
