.c-company
  border-radius: 5px
  border: 1px solid $color-background
  display: flex
  flex: none
  height: 8.75rem
  overflow: hidden
  transition: box-shadow .4s ease
  // width: 19.9rem
  &:hover
    box-shadow: 3px 3px 5px darken($color-background, 7%)

  &__img
    align-items: center
    display: flex
    height: 8.75rem
    justify-content: center
    overflow: hidden
    width: 8.75rem
    flex: none
    background-color: #fff
    border-right: 1px solid $color-background
    img
      height: auto
      width: 80%

  &__content
    display: flex
    width: 100%
    flex-direction: column
    align-items: flex-start;
    justify-content: center
    padding: 0.3rem 1rem
    &__title
      margin: 0
      font-size: 1rem
      text-transform: capitalize
      color $color-text2
      position: relative

    &__subtitle
      margin 0
      font-weight: 400
      font-size: 0.8rem
      font-style: italic

    &__location
      margin: 0
      font-size: 0.7rem
      font-weight: 400
      display: flex
      align-items: center
      padding: 0.3rem 0
      .u-icon
        color: $color-primary
        font-size: 1rem

    &__button
      padding-top: 0.5rem
      border-top: 1px solid $color-background
      width: 100%
      color: $color-primary
      font-size: 0.8rem
      font-weight: 500
      cursor: pointer
      margin-top: 0.5rem
      .u-icon
        transition margin .4s ease
        font-size: 0.6rem
        margin: 0 0 0 0.3rem
      &:hover
        .u-icon
          margin: 0 0 0 0.7rem
