/*------------------------------------*\
  #Contact
\*------------------------------------*/

.contact {
  background-color: $color-secondary;

  i {
    padding: 0.4em;
    margin-right: 1em;
  }

  img {
    margin-right: .5em;
  }

  ul ul {
    padding-left: 1.5em;
  }

  .bloque {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .borde {
    border-bottom: 1px solid rgba(#fff, 0.25);
  }
}
