.c-data-editing
  overflow: auto
  height: 100%
  font-size: 14px

  &--max-width
    & > *
      max-width: 700px

  input:not([type="radio"]),
  select,
  textarea,
  button
    background-color: transparent
    border: 1px solid lighten($color-text, 40%)
    border-radius: 3px
    padding-left 1rem
    padding-right 1rem
    height: 38px
    font-size: 0.9rem
    min-width: 12rem

  textarea
    height: 6rem
    padding-top: 0.5rem
    padding-bottom: 0.5rem

  &__title
    width: 100%
    padding: 1rem 1.5rem
    margin: 0
    background-color: $color-background2
    font-weight: 400
    font-size: 0.9rem
    & > *
      font-weight: 400
      margin: 0

  &__input
    width: 18rem

  &__not-available
    font-style: italic
    font-size: 0.8rem
    padding-top: 0.4rem
    display: block
    &::before
      content: 'Esta información no sera visible en tu perfil'


  &__hr-container
    border-bottom 1px solid $color-background
    padding-bottom: 1.5rem

  &__row
    width: 100%
    display: flex
    align-items: center
    padding-left: 2rem
    & > *:nth-child(1)
      width: 14rem
      margin-right: 3rem
      flex: none
    & > *:nth-child(2)
      width: 100%

  .c-process-percentage
    position: fixed
    top: 150px
    right: 150px

  .multiselect
    max-width: initial
    width: 18rem
    &__tags
      border: 1px solid $color-background
      display: flex
      flex-wrap: wrap
    &__tag
      span
        margin-right: 3px
    &__single
      padding: 0
      width: 1px


  .is-validate,
  .is-warning
    &::after
      margin-left: 0.5rem
      @extend .u-icon

  .is-validate
    input,
    button,
    textarea,
    select
      border: 1px solid $color-success
    &::after
      content: 'check'
      color: $color-success

  .is-warning
    input,
    button,
    select
      border: 1px solid $color-warning
    &::after
      content: 'warning'
      color: $color-warning

  &__submit
    // max-width: initial
    padding-top: 1.5rem
    border-top: 1px solid $color-background
    margin-top: 1.5rem
    button
      display: block
      margin-left: auto
      margin-right: auto
      background-color: $color-success
      border: none
      color: #fff
      font-size: 1.2rem
      font-weight: 500
      height: 3.3rem
      padding-left: 2rem
      padding-right: 2rem
