.c-index-contact
  background-color: $color-secondary
  padding-top: 6rem
  padding-bottom: 6rem

  &__container
    max-width: 1148px
    margin-left: auto
    margin-right: auto
    padding-left: 1.5rem
    padding-right: 1.5rem
    display: flex

  &__title
    font-size: 3rem
    margin-top: 0
    margin-bottom: 1rem
    font-weight: 500
  &__paragraph
    font-size: 0.9rem
    margin-bottom: 3rem
  &__info,
  &__form
    width: 50%

  &__info
    padding-right: 10%
    &__list
      & > *
        padding-bottom: 2rem
        border-top: 1px solid rgba($color-background, .5)
      & > *:nth-child(1)
        border-top none
      & > * > *
        padding-left: 1.5rem
        font-size: 0.9rem

      &__title
        font-weight: 400
        font-size: 0.9rem
        padding-left: 0 !important
        img
          height: 1.5rem
          width: auto
          margin-right: 1rem
    .u-icon
      display: flex
      // background-color: $color-primary
      justify-content: center
      align-items: center
      width: 1rem
      height: 1rem
      color: $color-primary
      font-size: 1.5rem
      background-color: #fff
      margin-right: 0.5rem
      border-radius: 50%

  &__form
    input,
    textarea,
    select
      border: none
      background-color: #fff
      border-radius: 5px
      display: flex
      align-items: center
      height: 3.2rem
      padding-left: 1.5rem
      padding-right: 1.5rem
      font-size: 0.9rem
      color: $color-text
    textarea
      height: 5rem
      padding-top: 0.5rem
      padding-bottom: 0.5rem
    .two
      display: flex
      margin-top: 0.45rem
      & > *
        width 50%
      & > *:nth-child(1)
        margin-right: 0.225rem
      & > *:nth-child(2)
        margin-left: 0.225rem
    .submit
      margin-top: 2.5rem
    & > *
      width: 100%
    & > input,
    & > textarea
      margin-top: 0.45rem
    & > .two:nth-child(1)
      margin-top: 0
