.c-item-list
  padding: 0 1.1rem
  margin: 1.1rem 0
  width: 100%
  height: calc(100% - 2.2rem)
  overflow-y: auto
  .multiselect
    max-width: initial

  &__header
    padding-bottom: 1.5rem
    color: $color-text3
    font-size: 1rem
    display: flex
    justify-content: space-between
    & > *
      margin: 0
      font-weight: 400
    .right
      display: flex
    @media (max-width: 700px)
      flex-direction: column
      padding-bottom: 1rem
      .right
        margin-top: 0.5rem

  &__title
    display: flex
    align-items: center
    img
      height: 1.3rem
      width: auto
      margin-right: 0.5rem
    .u-icon
      color: $color-primary
      font-size: 1.3rem

  &__item
    margin-top: 0.5rem
  &__item:nth-child(1)
    margin-top: 0

  &__region,
  &__sector
    display: flex
    align-items: center
    & > span
      min-width: 3rem
      font-size: 0.9rem
      color: $color-text

  &__region
    border-left: 1px solid $color-background

  &__without-filters
    align-content center
    border none
    border-left 1px solid #ddd
    display flex
    font-size 0.8rem
    justify-content center
    text-decoration underline
