.c-login
  .c-button
    font-size: 12px
    font-weight: 500
    margin-left: auto
    margin-right: auto
    width: 108px
    height: 34px
    @media (min-width: $mobile-max)
      font-size: 16px
      height: 45px
      width: 144px


.c-login__form
  display: flex
  flex-direction: column
  font-size: 12px
  height: 100vh
  justify-content: center
  margin-left: auto
  margin-right: auto
  max-width: 248px
  min-height: 550px
  position: relative
  @media (min-width: $mobile-max)
    font-size: 16px



.c-login__form__figure
    img
      height: 108px
      margin-bottom: 20px
      margin-left: auto
      margin-right: auto
      @media (min-width: $mobile-max)
        height:145px
        margin-bottom: 30px

    figcaption
      font-size: 12px
      text-align: center
      margin-bottom: 15px
      @media (min-width: $mobile-max)
        margin-bottom: 21px
        font-size: 16px


.c-login__form__content
    display: flex
    flex-direction: column
    justify-content: center

    input
      font-size: 12px
      height: 34px
      @media (min-width: $mobile-max)
        font-size: 14px
        height: 45px

    input:nth-child(1)
      margin-bottom: 6px
      @media (min-width: $mobile-max)
        margin-bottom: 9px

    input:nth-child(2)
      margin-bottom: 13px
      @media (min-width: $mobile-max)
        margin-bottom: 20px

    .c-link
      display: block
      font-size: 11px
      margin-bottom: 22px
      text-align: center
      @media (min-width: $mobile-max)
        font-size: 14px



.c-login__form__footer
    // margin-top: 46px
    position: absolute
    bottom: 1rem
    left: 50%
    transform: translateX(-50%)
    // @media (min-width: $mobile-max)
    //   margin-top: 132px

    span
      display: block
      min-width: 250px
      font-size: 10px
      opacity: 0.7
      text-align: center
      @media (min-width: $mobile-max)
        font-size: 12px
