$menu-aside-width = 238px

.c-menu-aside
  flex: none
  height: 100%
  max-width: 0
  position: absolute
  width: 100vw
  z-index: 999
  top: 0
  &__bg
    background-color: rgba(#000, 0.0)
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    transition: 0.6s ease background-color
  &.is-displayed
    max-width: 100vw
    .c-menu-aside__bg
      background-color: rgba(#000, 0.5)
    .c-menu-aside__wrapper
      transform: translateX(0px)

.c-menu-aside__close
  cursor: pointer
  display: block
  padding: 0.5rem
  position: absolute
  right: 1rem
  top: 1rem
  i
    margin: 0



.c-menu-aside__wrapper
  display: flex
  flex-direction: column
  height: 100%
  justify-content: space-between
  left: 0
  background-color: #fff
  max-width: $menu-aside-width
  padding-bottom: 30px
  padding-left: 26px
  padding-right: 26px
  padding-top: 45px
  position: fixed
  top: 0
  transform: translateX($menu-aside-width * -1px)
  transition: transform 0.6s ease
  width: $menu-aside-width
  z-index: 2
  @media (max-width: 800px)
    padding-bottom: 0px
    padding-left: 20px
    padding-right: 20px
    padding-top: 23px




.c-menu-aside__figure
  cursor: pointer
  margin-bottom: 1.5rem
  img
    display: block
    height: 120px
    margin: 0 auto
    width: auto
  figcaption
    font-size: 0.9rem
    font-weight: 400
    margin-top: 15px
    text-align: center
  @media (max-width: 800px)
    margin-bottom: 0.75rem
    img
      height: 80px



.c-menu-aside__list
  font-size 16px
  font-weight: 400
  max-height: 300px
  overflow-y: auto
  height: 100%
  display: flex
  flex-direction: column
  align-items: center

  .c-menu-aside__sector
    cursor: pointer
    padding-bottom: 7px
    padding-top: 7px
    width: 150px
    img
      height 20px
      margin-right: 0.5rem
      filter: grayscale(1)
      opacity: .3
    .u-icon
      opacity: .3
    &:hover
      color: $color-primary
    &.is-active
      color: $color-primary
      img
        filter: none
        opacity: 1
      .u-icon
        opacity: 1


.c-menu-aside__footer
  border-top 1px solid $color-background
  padding-top: 1.5rem
  .u-icon
    font-size: 25px
  p
    color: $color-text
    font-size: 12px
    opacity: 0.8
  @media (max-width: 800px)
    padding-top: 0.75rem
    .u-icon
      font-size: 15px
