.c-not-found
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #b0b3bd 100%)
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #b0b3bd 100%)
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #b0b3bd 100%)
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #b0b3bd))
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #b0b3bd 100%)
  background: #ffffff
  background: radial-gradient(ellipse at center, #ffffff 0%, #b0b3bd 100%)
  color: #666
  display: flex
  flex-direction: column
  height: 100vh
  justify-content: center
  overflow: auto
  padding-left: 5%
  text-align: center
  width: 100%

.c-not-found__wrapper
  margin-left: auto
  margin-right: auto
  max-width: 28rem

  .c-not-found__title
    font-size: 3.3rem
    font-weight: 800
    line-height: 1
    margin-bottom: 2rem
    margin-top: 2rem

  .c-not-found__paragraph
    display: block
    margin-bottom: 3rem

  .c-not-found__isotipo
    display: flex
    justify-content: center
    justify-content: space-between
    align-items: center
    margin-bottom: 1rem
    padding-left: 10%
    padding-right: 10%

    &::before
      content: ''
      height: 2px
      margin-top: 1.5rem
      background-color: rgba(#fff, .4)
      width: 25%

    img
      flex none
      height: 100px
      width: 100px

    &::after
      content: ''
      height: 2px
      margin-top: 1.5rem
      background-color: rgba(#fff, .4)
      width: 25%
