.c-notice
  max-width: 270px
  width: 270px

  &__image
    height: 260px
    width: 100%
    display: flex
    justify-content: center
    position: relative
    align-items: center
    overflow: hidden
    img
      flex none
      height: 100%
      width: auto

  &__date
    position: absolute
    bottom: 0
    left 0
    background-color: #f00
    color: #fff
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 41px
    height: 50px
    text-align: center
    line-height: 1
    .day
      font-weight: 800
      font-size: 19px
    .month
      font-weight: 500
      font-size: 12px
      text-transform: uppercase
    .year
      font-size: 11px
      font-weight: 400

  &__title
    background-color: #fff
    & > *
      margin: 0
      padding: 25px 17px
      color: $color-text3
      font-weight: 400
      font-size: 16px
