.c-notice-profile

  &__title
    font-size: 1.5rem
    font-weight: 500
    color $color-text3
    margin: 0
    padding-bottom: 0.5rem
    line-height: 1.1
  &__date
    margin: 0

  &__image
    background-color: $color-background
    height: 17rem
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    margin-top: 1rem
    margin-bottom: 1.7rem
    img
      width: 100%
      height: auto

  &__content
    font-size: 1rem
    & > *:nth-child(1)
      margin-top: 0
      padding-top: 0
    & > *:nth-last-child(1)
      margin-bottom: 0
      padding-bottom: 0
