.c-offer-info
  display: flex
  height: 100%
  width: 100%
  @media(max-width: 1250px)
    flex-direction: column

.c-offer-info__content
  min-height: 100%
  width: 100%
  & > *
    margin: 0



.c-offer-info__title
  color: #444
  margin-bottom: 1rem
  & > *
    margin: 0
    font-size: 1.3rem
    color $color-text3
  p
    font-size:0.9rem
    margin-top: 0.5rem
    color: $color-text
    font-style: italic

.c-offer-info__images
  flex: none
  margin-left: 1rem
  width: 300px
  @media(max-width: 1249px)
    margin-left: 0
    margin-top: 3rem
    width: 100%

  .c-offer-info__img
    background-color: $color-background
    border: 3px solid $color-background
    flex: none
    height: 250px
    margin-top: 1.5rem
    overflow: hidden
    position: relative
    width: 300px
    @media(max-width: 1249px)
      width: 100%

    img
      height: 100%
      left 50%
      position: absolute
      top 50%
      transform: translateX(-50%) translatey(-50%)
  .c-offer-info__img:nth-child(1)
    margin-top: 0

.c-offer-info__imagesModal
  align-items: center
  display: flex
  height: 100%
  justify-content: center
  left 0
  position: fixed
  top: 0
  width: 0
  width: 100%
  z-index: 9999

  &__bg
    background-color: rgba(#000, .9)
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

  &__content
    position: relative
