.c-offer-company
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  min-width: 280px
  @media (max-width: 1024px)
    flex-direction: row
    justify-content: space-between
    padding-left: 3rem
    padding-right: 3rem

  .c-offer-company__figure
    align-items: center
    // border-radius: 50%
    border: 7px solid $color-background
    display: flex
    height: 9rem
    justify-content: center
    overflow: hidden
    padding: 0.5rem
    width: 9rem
    img
      height: auto
      width: 100%
    @media (max-width: 1024px)
      border: 5px solid $color-background
      height: 4rem
      width: 4rem

  .c-offer-company__title
    font-weight: 500
    font-size: 0.9rem
    color: $color-text2
    padding-bottom: 1rem
    border-bottom: 1px solid $color-background
    width: 90%
    text-align: center
    @media (max-width: 1024px)
      padding-bottom: 0
      width: initial
      border-bottom: none
    @media (max-width: 800px)
      display: none

  .c-offer-company__to-profile
    @media (max-width: 1024px)
      display: none

  .c-offer-company__to-chat
    margin-top: 1rem
    @media (max-width: 1024px)
      margin-top: 0
