.c-offer
  background-color: #fff
  cursor: pointer
  display: flex
  height: 80px
  transition: .4s ease background-color
  border: 1px solid lighten($color-background, 5%)
  border-radius: 5px
  transition: box-shadow .4s ease
  &:hover
    box-shadow: 3px 3px 5px darken($color-background, 7%)

.c-offer__img
  height: 100%
  overflow-x: hidden
  position: relative
  width: 80px
  border-right: 1px solid $color-background
  flex: none
  img
    height: 100%
    left: 50%
    position: absolute
    top: 0
    transform: translateX(-50%)
    width: auto

.c-offer__content
  display: flex
  flex-direction: column
  justify-content: center
  padding-left: 1rem
  padding-right: 1rem
  width: 100%
  @media (min-width: $mobile-max)
    align-items: center
    flex-direction: row
    justify-content: space-between
    padding-left: 1.5rem
    padding-right: 1.5rem

  .c-offer__content__title
    font-size: 13px
    font-weight: 400
    color: $color-text3
    margin: 0
    transition: .4s ease color
    @media (min-width: $mobile-max)
      font-size: 16px

    .company
      display: block
      font-size: 11px
      font-weight: 400
      color: lighten($color-text, 7%)
      font-style: italic
      margin-top: 0.1rem
      @media (min-width: $mobile-max)
        font-size: 13px
    .country
      color: $color-text3

  .c-offer__content__date
    font-size: 11px
    margin: 0 0 0 0
    & > *
      margin: 0
    @media (min-width: $mobile-max)
      font-size: 16px
      margin: 0 0 0 2rem
      width: 50px
      text-align: right
