.c-offer-info-update
  display: flex
  height: 100%
  width: 100%
  @media(max-width: 1250px)
    flex-direction: column

.c-offer-info-update__content
  min-height: 100%
  width: 100%
  & > *
    margin: 0



.c-offer-info-update__title
  color: #444
  margin-bottom: 3rem
  & > *
    margin: 0

  p
    font-size:0.9rem
    margin-top: 0.5rem
    color: $color-text

.c-offer-info-update__images
  flex: none
  margin-left: 1rem
  width: 300px
  @media(max-width: 1249px)
    margin-left: 0
    margin-top: 3rem
    width: 100%

  .c-offer-info-update__img
    background-color: $color-background
    border: 3px solid $color-background
    flex: none
    height: 250px
    margin-top: 1.5rem
    overflow: hidden
    position: relative
    width: 300px
    @media(max-width: 1249px)
      width: 100%

    img
      height: 100%
      left 50%
      position: absolute
      top 50%
      transform: translateX(-50%) translatey(-50%)

    &:hover
      .c-offer-info-update__img__button
        transform: translatey(0)

    &__button
      transition: 0.4s ease transform
      transform: translateY(4rem)
      position: absolute
      bottom: 0
      left 0
      width: 100%
      height: 4rem
      display: flex
      align-items: center
      padding-left: 1rem
      background-color: $color-text2

  .c-offer-info-update__img:nth-child(1)
    margin-top: 0
