.c-process-percentage
  background-color: $color-background2
  color: $color-text3
  padding: 3rem 2rem
  max-width: 420px

  &__percentage
    margin-bottom: 2rem
    width: 100%
    position: relative
    .data
      position: absolute
      top: 50%
      transform: translateY(-50%) translateX(-50%)
      left: 50%
      & > *
        color: $color-text2
        margin: 0
        text-align: center
      & > *:nth-child(1)
        font-size: 3.2rem
        font-weight: 400
      & > *:nth-child(2)
        margin-top: 0.3rem
        font-size: 0.9rem

  &__title
    color: $color-text3
    font-size: 1rem
    font-weight: 400
    margin: 0 0 1.5rem 0
    & > *
      font-weight: 400
      margin: 0

  &__list
    color: $color-text2
    font-size: 0.8rem
    & > *
      margin-top: 0.5rem
      margin-bottom: 0
      display: flex
    & > *:nth-child(1)
      margin-top: 0
    & > *:before
      content 'check'
      color: $color-success
      margin-right: 0.5rem
      font-size: 1rem
      @extend .u-icon

  #pbcontainer
    margin: 0 auto
    width: 200px
    height: 200px
