.c-profile-link
  margin-bottom: 1.5rem
  padding-bottom: 0.75rem
  border-bottom: 1px solid lighten($color-background, 50%)

  &__content
    margin: 0
    font-weight: 400
    display: flex
    font-size: 0.8rem

  &__link
    color: $color-primary
    font-weight: 500
    border-bottom: 1px solid lighten($color-primary, 60%)

  // &__company-name
