$sections-wrapper-spacing-desktop = 12
$sections-wrapper-spacing-mobile = 8

.c-sections-wrapper
  background-color: $color-background
  height: 100vh
  display: flex
  flex-direction: column

  &__wrapper
    display: flex
    height: 100%
    .c-sections-wrapper__aside,
    .c-sections-wrapper__content
      height: 100%

  &__aside
    background-color: #fff



  &__content
    background-color: $color-background
    display: flex
    flex-direction: column
    padding: $sections-wrapper-spacing-mobile * 1px
    width: 100%
    @media (min-width: $mobile-max)
      padding: $sections-wrapper-spacing-desktop * 1px


  &__header
    background-color: #fff
    // margin-bottom: $sections-wrapper-spacing-mobile * 1px
    // @media (min-width: $mobile-max)
    //   margin-bottom: $sections-wrapper-spacing-desktop * 1px

  &__elements
    display: flex
    height: 100%

    & > *
      background-color: #fff
      margin-left: ($sections-wrapper-spacing-mobile / 2) * 1px
      margin-right: ($sections-wrapper-spacing-mobile / 2) * 1px
      height: 100%
      overflow-y: auto
      overflow-x: hidden
      @media (min-width: $mobile-max)
        margin-left: ($sections-wrapper-spacing-desktop / 2) * 1px
        margin-right: ($sections-wrapper-spacing-desktop / 2) * 1px

    & > *:nth-child(1)
      margin-left: 0
    & > *:nth-last-child(1)
      margin-right: 0
    & > *:nth-last-child(1)
      flex: none
