.c-tabs-compact
  color: $color-text2
  border-bottom 1px solid lighten($color-background, 10%)

  .c-tabs-compact__title
    padding-left: 15px
    padding-right: 7px
    cursor: pointer
    display: flex
    font-size: 14px
    font-weight: 500
    justify-content: space-between
    margin: 0
    padding-bottom: 1rem
    padding-top: 1rem
    transition: 0.4s ease background-color
    &:hover
      background-color: lighten($color-background, 10%)
    .c-tabs-compact__icon
      font-size: 12px
      transition: .5s ease transform
      transform: rotateZ(-90deg)
      margin: 0


  .c-tabs-compact__description
    background-color: lighten($color-background, 50%)
    font-size: 14px
    color: $color-text3
    & > *
      height: 100%
      overflow-y: auto
      margin-bottom: 1rem
    & > * > *:nth-child(1)
      margin-top: 0 !important
      padding-top: 0 !important

    @media (min-width: 600px)
      transition .7s ease max-height
      max-height: 0px
      overflow-x: hidden


  &.is-extended
    .c-tabs-compact__title
      color: $color-primary
      .c-tabs-compact__icon
        transform: rotateZ(0)

    .c-tabs-compact__description
      @media (min-width: 600px)
        max-height: 150px

  @media (max-width: 599px)
    .c-tabs-compact__title
      color: $color-primary
      .c-tabs-compact__icon
        transform: rotateZ(-90deg)
