.c-tabs-compact-update
  color: $color-text2
  border-bottom 1px solid lighten($color-background, 10%)

  .ql-editor
    height 108px

  .c-tabs-compact-update__title
    padding-left: 10px
    padding-right: 7px
    cursor: pointer
    display: flex
    font-size: 14px
    font-weight: 500
    justify-content: space-between
    margin: 0
    padding-bottom: 1rem
    padding-top: 1rem
    transition: 0.4s ease background-color
    &:hover
      background-color: lighten($color-background, 10%)
    .c-tabs-compact-update__icon
      font-size: 12px
      transition: .5s ease transform
      transform: rotateZ(-90deg)
      margin: 0


  .c-tabs-compact-update__description
    max-height: 0px
    height: 216px
    overflow: hidden
    transition .7s ease max-height
    textarea
      background-color: transparent
      border-color: lighten($color-text, 30%)
      height: 150px
      padding-bottom: 0.5rem
      padding-top: 0.5rem
      width: 100%
      &:focus
        border-color: lighten($color-text, 30%)




  &.is-extended
    .c-tabs-compact-update__title
      color: $color-primary
      .c-tabs-compact-update__icon
        transform: rotateZ(0)

    .c-tabs-compact-update__description
      max-height: 216px
