.c-testimonies
  position: relative
  padding: 5rem 0
  &__bg
    background-image: url('/defaults/images/background.png')
    background-position: center center
    background-repeat: no-repeat
    background-size: 100% auto
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  &__wrapper
    max-width: 1024px
    margin: 0 auto
    position: relative
    padding-left: 1.5rem
    padding-right: 1.5rem
    .swiper-testimonies
      width: 100%

  &__container
    display: flex
    align-items: center
  &__image
    height: 20rem
    width: 27rem
    display: flex
    justify-content center
    align-items: center
    overflow: hidden
    flex none
    border-radius: 1.5rem
    margin-right: 3rem
    img
      height: 100%
      width: auto
  &__title
    color: $color-primary
    font-size: 1.8rem
    font-weight: 500
    margin: 0
  &__subtitle
    margin: 0
    color: $color-text3
    font-weight: 400
  &__description
    color: $color-text
    margin-top: 1rem
