.c-update-button
  align-items: center
  background-color: $color-success
  border-color: $color-success
  border-radius: $border-radius
  border-style: solid
  border-width: $border-width
  color: #fff
  cursor: pointer
  display: inline-block
  height: 2.7rem
  text-align: center
  transition: .5s ease background-color, color
  button
    background-color: transparent
    border: none
    display: flex
    font-size: 15px
    font-weight: 500
    height: 100%
    justify-content: center
    padding-left: 1.5rem
    padding-right: 1.5rem

  &:hover
    background-color: transparent
    color: $color-success
    .c-ger-loading__inner
      stroke: $color-success

  &.is-loading
    cursor: default
    display: flex
    justify-content: center
    align-items: center
    &:hover
      color: #fff

.c-update-button--width
  width: 10rem

.c-update-button--color-primary
  background-color: $color-primary
  border-color: $color-primary
  &:hover
    background-color: transparent
    color: $color-primary
    .c-ger-loading__inner
      stroke: $color-primary
