.c-user-profile
  position: relative
  &:hover
    .c-user-profile__config
      display: block



.c-user-profile__front
  align-items: center
  display: flex
  min-height: 60px

  &__image
    overflow: hidden
    height: 45px
    border-radius: 50%
    margin-right: 0.5rem
    overflow: hidden
    position: relative
    width: 45px
    display: flex
    justify-content: center
    align-items: center
    border: 5px solid rgba(#fff, .2)
    flex none
    img
      background-color: #fff
      height: 100%
      width: auto
    @media (max-width: 400px)
      margin-right: 0
  &__title
    display: flex
    width: 100%
    justify-content: space-between
    & > span
      margin-right: 0.4rem
    @media (max-width: 900px)
      & > span
        display: none
    .u-icon
      display: flex
      font-size: 0.8rem
      opacity: .5
      margin-right: 0
      justify-content: center
      align-items: center
      @media (max-width: 400px)
        display: none



.c-user-profile__config
  color: $color-text
  background: white
  box-shadow: 2px 2px 20px rgba(147, 147, 147, 0.81)
  display: none
  font-size: 0.8rem
  right: -0.3rem
  padding-bottom: 0.5rem
  position: absolute
  top: 100%
  // transform translateX(-50%)
  z-index: 999

  & > *:nth-child(2)
    margin-top: 0.5rem

  &::before
    border-bottom: 0.8rem solid #fff
    border-left: 0.5rem solid transparent
    border-right: 0.5rem solid transparent
    bottom: 100%
    content: ""
    display: block
    height: 0
    position: absolute
    right: 21%
    width: 0

  & > *:not(p)
    align-items: center
    cursor: pointer
    display: flex
    line-height: 1.8rem
    list-style: none
    margin-left: 0.5rem
    margin-right: 0.5rem
    padding-left: 1rem
    padding-right: 1rem
    width: 10.5rem
    &:hover
      background: $color-primary
      color: white
      *
        color: white

    a
      align-items: center
      display: flex
      width: 100%

    i
      color: $color-text3
      height: 0.8rem
      margin-right: 0.3rem
      width 0.8rem
      &::before
        vertical-align: middle

  p
    border-bottom: 1px solid rgba(#999, 0.4)
    color: #999
    margin: 0
    padding-bottom: 0.6rem
    padding-top: 0.8rem
    text-align: center
