$user-modal__pl = 2rem
$user-modal__pr = 2rem
$user-modal__user-cant = 3
$user-modal__user-height = 5rem

.c-user-modal
  align-items: center
  display: flex
  height: 100%
  justify-content: center
  left 0
  position: fixed
  top 0
  width: 100%

  &__bg
    background-color: rgba(#000, .6)
    height: 100%
    left 0
    position: absolute
    top: 0
    width: 100%

  &__content
    // height: 50%
    background-color: #fff
    border-radius: 0.5rem
    max-width: 320px
    padding: 2.4rem 0 1rem 0
    position: relative
    width: 100%

  &__close
    display: block
    height: 1.4rem
    left 0
    padding: .7rem .7rem 0 .7rem
    position: absolute
    text-align: right
    top: 0
    width: 100%
    cursor: pointer;
    .u-icon
      display: flex
      font-size: 0.7rem
      height: .7rem
      margin: 0 0 0 auto
      width: .7rem

  &__title
    padding-bottom: 1.5rem
    padding-left $user-modal__pl
    padding-right $user-modal__pr
    & > *
      font-weight: 400
      margin: 0
      text-align: center

  &__users
    border-bottom: 1px solid $color-background
    border-top: 1px solid $color-background
    max-height: $user-modal__user-height * $user-modal__user-cant
    overflow-y: scroll

    .is-connect
      background-color: #fff
      .state
        &::before
          content ''
          display: inline-block
          width: 7px
          height: 7px
          border-radius: 50%
          margin-right: 0.2rem
          background-color: $color-success
    .is-offline
      background-color: $color-background
      .state
        &::before
          content ''
          display: inline-block
          width: 7px
          height: 7px
          border-radius: 50%
          margin-right: 0.2rem
          background-color: $color-text

    & > *
      background-color: transparent
      border-bottom: 1px solid $color-background
      cursor: pointer
      display: flex
      height: $user-modal__user-height
      padding-left $user-modal__pl
      padding-right $user-modal__pr
      width: 100%
      &:hover
        background-color: $color-secondary
        *
          color: #fff
        .c-user-modal__users__img
          border 0.5rem solid darken($color-background, 20%)

    &__img
      background-color: #ff
      border 0.5rem solid $color-background
      border-radius: 50%
      display: flex
      height: 4rem
      justify-content: center
      margin-right: 1rem
      overflow: hidden
      width: 4rem
      & > *
        border-radius: 50%
        height: 100%
        width: auto

  &__button
    display: flex
    justify-content: center
    padding-top: 1rem

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.c-user-modal-enter-active, .c-user-modal-leave-active {
  transition: all .5s ease;
  opacity: 1
  transform: scale(1.0);
}
.c-user-modal-enter, .c-user-modal-leave-to {
  opacity: 0
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
