.c-chat-options
  height: 100vh
  left: 0
  position: fixed
  top: 0
  z-index: 999
  width: 100%
  &__close
    position: absolute
    top: 1rem
    right: 1rem
    cursor: pointer
    .u-icon
      display: flex
      color: #fff
      font-size: 1rem
  &__bg
    background-color: rgba(#000, .75)
    position: absolute
    top: 0
    left 0
    width: 100%
    height: 100%
    transition: opacity 0.6s ease
  &__wrapper
    width: 290px
    height: 100%
    background-color: #fff
    position: relative
    transition: transform 0.6s ease
    color: $color-text2


  &__profile
    display: flex
    align-items: center
    padding: 0.9rem 1rem
    background-color: $color-secondary
    color: #fff
    &__figure
      overflow: hidden
      display: flex
      justify-content: center
      align-items: center
      height: 3rem
      width: 3rem
      margin-right: 1rem
      border-radius: 50%
      img
        height: 100%
        width: auto
    &__title
      font-weight: 500
      margin: 0
      line-height: 1
      span
        display: block
      span:nth-child(1)
        font-size: 1.2rem
      span:nth-child(2)
        font-size: 0.8rem
    @media (min-height: 450px)
      padding: 1.5rem 1rem

  &__list
    overflow-y: auto
    max-height: calc(100vh - 76px)
    @media (min-height: 450px)
      max-height: calc(100vh - 96px)
  &__item
    display: flex
    align-items: center
    padding: 0.7rem 1rem
    border-bottom: 1px solid $color-background
    cursor: pointer
    transition: background-color 0.4s ease
    .u-icon
      display: flex
    &:hover
      background-color: darken($color-background, 5%)
      .u-icon
        color: $color-primary




// Enter and leave animations can use different
// durations and timing functions.
.chat-options-enter-active,
.chat-options-leave-active
  transition: opacity 0.6s
  .c-chat-options__bg
    opacity: 1
  .c-chat-options__wrapper
    transform: translateX(0%)

.chat-options-enter,
.chat-options-leave-to,
.fade-leave-active
  .c-chat-options__bg
    opacity: 0
  .c-chat-options__wrapper
    transform: translateX(-100%)
