.c-chat
  display: flex
  flex-direction: column
  height: 100%

  &__title
    align-items: center
    background-color: #423F40
    display: flex
    flex: none
    height: 47px
    padding-left: 1.3rem
    padding-right: 1.3rem
    &__text
      font-weight: 400
      color: #fff
      font-size: 16px
      margin: 0
      strong
        font-weight: 600
    @media(max-width: 775px)
      display none
      height: 37px
      .c-chat__title__text
        font-size: 13px
    @media(max-width: 450px)
      height: 30px
      .c-chat__title__text
        font-size: 12px




  &__messages
    height: 100%
    overflow: auto
    padding: 1rem 1.4rem
    position: relative
    &::-webkit-scrollbar
      background: none
      border-radius: 0px
    &::-webkit-scrollbar-thumb
      border-radius: 0px

  &__message
    display: flex
    flex-direction: column
    margin-top: 0.2rem
    max-width: 370px
    &:nth-child(1)
      margin-top: 0rem
    &--i
      margin-left: auto
      .c-chat__message__footer
        .u-icon
          display: flex
      .c-chat__message__content
        background-color: #4AB1EA
        margin-left: auto
        margin-right: 0
        text-align: right

    &__footer
      font-size: 12px
      font-weight: 400
      padding-top: 0.3rem
      margin: 0
      color: rgba(#000, .4)
      text-align: right
      display: flex
      align-items: flex-end
      justify-content: flex-end
      .time
        margin-left: 0.3rem
      .u-icon
        display: none
        font-size: 11px
        margin-left: 0.3rem
        margin-right: 0

    &__content
      background-color: #68BC6D
      border-radius: 5px
      color: #fff
      display: inline-block
      font-size: 15px
      line-height: 1.2
      margin: 0 auto 0 0
      min-width: 50px
      padding: 0.5rem 0.5rem 0.3rem 0.5rem
      position: relative
      text-align: left
      width: auto
      & > *
        margin: 0

  &__new-message
    align-items: center
    border-top: 1px solid $color-background
    display: flex
    flex: none
    height: 5rem
    justify-content: center
    width: 100%
    input,
    textarea
      background-color: transparent
      border-radius: 5px
      border: 2px solid $color-background
      font-style: italic
      height: 4rem
      width: 90%
      padding: 0.5rem

    @media(max-width: 600px)
      height: 3rem
      input,
      textarea
        height: 2.3rem
