.c-chat-header
  background-color: lighten(#1E1C1F, 6%)
  display: flex
  justify-content: space-between
  width: 100%
  height: 3rem
  align-items: center
  padding-left: 1.5rem
  padding-right: 1.5rem

  &__btn-menu,
  &__title,
  &__btn-notification
    color: #fff

  &__title,
  &__title > *
    font-size: 1rem
    margin: 0

  &__btn-menu,
  &__btn-notification
    font-size: 1.3rem
    border: none
    & > *
      display: flex
      margin: 0

  &__btn-notification
    position: relative
    top: 3px
    span
      position: absolute
      top: -6px
      right: 0
      font-size: 0.5rem
      background-color: $color-primary
      color: #fff
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      width: 1rem
      height: 1rem
