.c-chat-notifications
  height: 100vh
  left: 0
  position: fixed
  top: 0
  z-index: 999
  width: 100%
  display: flex
  &__close
    position: absolute
    top: 1rem
    right: 1rem
    cursor: pointer
    .u-icon
      display: flex
      color: $color-text2
      font-size: 1rem
  &__bg
    background-color: rgba(#000, .75)
    position: absolute
    top: 0
    left 0
    width: 100%
    height: 100%
    transition: opacity 0.6s ease
  &__wrapper
    width: 290px
    height: 100%
    background-color: #fff
    position: relative
    transition: transform 0.6s ease
    color: $color-text2
    margin-left: auto

  &__title
    height: 3rem
    display: flex
    align-items: center
    border-bottom: 1px solid $color-background
    padding-left: 1rem
    padding-right: 1rem
    & > *
      font-weight: 300
      margin: 0
      line-height: 1
      font-size: 1rem
      color: $color-text
      opacity: .8

  &__list
    overflow-y: auto
    max-height: calc(100vh - 48px)
  &__item
    display: flex
    align-items: center
    padding: 0.7rem 1rem
    border-bottom: 1px solid $color-background
    background-color: $color-background2
    cursor: pointer
    .u-icon
      display: flex
      color: $color-primary




// Enter and leave animations can use different
// durations and timing functions.
.chat-notifications-enter-active,
.chat-notifications-leave-active
  transition: opacity 0.6s
  .c-chat-notifications__bg
    opacity: 1
  .c-chat-notifications__wrapper
    transform: translateX(0%)

.chat-notifications-enter,
.chat-notifications-leave-to,
.fade-leave-active
  .c-chat-notifications__bg
    opacity: 0
  .c-chat-notifications__wrapper
    transform: translateX(100%)
