.c-chat-menu
  border-bottom: 1px solid $color-background
  &__wrapper
    padding: 0 0.7rem
    max-height: 119px
    height: 119px
    flex-direction: column
    transition: max-height 0.7s ease
    overflow: hidden
    display: flex;
    justify-content: center
    align-items: center;
    @media (min-width: 776px)
      height: 70px
      max-height: 70px
  &.is-compact
    .c-chat-menu__wrapper
      max-height: 0

  &__companies
    display: none
    justify-content: center
    padding-top: 8px
    padding-bottom: 8px
    min-height: 59px
    @media (max-width: 775px)
      display: flex

  .swiper-container
    min-height: 59px
    padding-top: 8px
    background-color: #fff

  &__representative
    background-color: $color-background
    border-radius: 50%
    cursor: pointer
    flex: none
    height: 2.5rem
    margin: 0 auto
    padding: 6px
    width: 2.5rem
    &__wrapper
      border-radius: 50%
      overflow: hidden
      display: flex
      justify-content: center
      align-items: center
      height: 100%
      width: 100%
      background-color: #fff
      img
        height: 90%
        width: auto;

    &.is-active
      background-color: $color-secondary

  &__down
    background-color: $color-text2
    color: #fff
    z-index: 9
    cursor: pointer
    width: 100%
    height: 1.5rem
    .u-icon
      height: 100%
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      font-size: 1rem
