.c-company-information
  padding: 0rem 2rem 0rem 2rem
  width: 100%
  @media (max-width: 775px)
    padding: 0 1rem

  &__info
    display: flex
    align-items: center

  &__figure
    align-items: center
    border: 9px solid $color-background
    display: flex
    flex none
    height: 6rem
    justify-content: center
    margin-right: 1.5rem
    overflow: hidden
    width: 6rem
    img
      height: auto
      width: 80%

  &__title
    margin: 0 0 0.5rem 0
    color: $color-text3


  &__offers
    margin-top: 2rem
    &__title
      font-size: 1rem
      font-weight: 400
      color: $color-text3
      .u-icon
        color: $color-primary
        font-size: 1.7rem

  &__offer
    border-bottom: 1px solid lighten($color-text, 80%)
    color: $color-text2
    cursor: pointer
    display: flex
    padding: 0.6rem 0rem
    font-size: 0.85rem
    transition: .4s ease background-color
    &:hover
      background-color: $color-background
    .pre
      width: 4rem
      flex: none
      font-weight: 500
    .title
      width: 100%
      font-weight: 300
    .u-icon
      color $color-primary
      font-size: 0.7rem
      display: flex
      align-items: center
