.c-notes-container
  width: 100%
  padding: 0 2rem
  @media (max-width: 775px)
    padding: 0 1rem

  &__title
    display: flex
    padding-bottom: 1rem
    h1, h2, h3, h4, h5, h6, p
      font-size: 1rem
      margin 0
      font-weight: 500
      color: $color-text3
    .u-icon
      margin-right: 0.3rem
      color: $color-primary
      font-size: 1.3rem

  &__new
    border-radius: 7px
    border: 1px solid $color-background
    padding: 1rem 1.2rem 0 1.2rem
    @media (max-width: 775px)
      padding: 1rem 0.5rem 0 0.5rem

    textarea
      width: 100%
      padding: 0
      background: transparent
      border-radius: 0
      border: none
      border-bottom: 1px solid $color-background
      display: block
      height: 81px

  &__submit
    padding: 0.5rem 0
    display: flex
    .c-update-button
      margin-left: auto
      height: 2.5rem
      button
        padding: 0 0.5rem
        font-weight: 500
        font-size: 0.8rem

  &__list
    & > *
      margin-top: 0.5rem
