.c-notes-container__note
  border-radius: 7px
  border: 1px solid $color-background
  padding: 1rem 1.2rem 0 1.2rem
  @media (max-width: 775px)
    padding: 1rem 0.5rem 0 0.5rem

  &__textarea
    background: transparent
    border: 1px solid $color-background
    border-radius: 0
    display: block
    height: 81px
    padding: 0
    width: 100%

  &__content,
  &__textarea
    padding-bottom: 0.5rem
    font-size: 0.9rem
    color: $color-text2

  &__footer
    padding: 0.5rem 0
    display: flex
    border-top: 1px solid $color-background
    .c-update-button
      margin-left: 0.3rem
      height: 2.5rem
      width: 4.5rem
      display: flex
      justify-content: center
      button
        padding: 0 0.5rem
        font-weight: 500
        min-width: 4rem
        font-size: 0.8rem
  &__date
    margin-right: auto
    display: flex
    align-items: center
    font-size: 0.8rem
    & > *
      margin: 0
  &__actions
    margin-left: auto
    display: flex

  &__modal
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    width: 100%
    height: 100%
    top 0
    left 0
    .bg
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background-color: rgba(#000, .9)
      z-index: 2
    .content
      background-color: #fff
      position: relative
      z-index: 3
      border-radius: 7px
      padding: 3rem 2rem
      text-align: center
      max-width: 500px
      width: 90%
      .title
        font-weight: 400
        margin-top 0
        margin-bottom: 1rem
        color: $color-text2
      .c-update-button
        margin-left: 0.3rem
        margin-right: 0.3rem
        width: 4.5rem
