.c-representatives
  height: 100%
  display: flex
  flex-direction: column
  &__search
    align-items: center
    border-bottom: 1px solid $color-background
    display: flex
    height: 5.5rem
    justify-content: center
    position: relative
    padding-right: 0.5rem
    padding-left: 0.5rem
    input
      height: 2.75rem
      width: 100%
      background-color: initial
      border: 1px solid rgba($color-text, .5)
    &__label
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: 1rem
      color: rgba($color-text, .5)
      font-size: 1.2rem


  &__list
    height: 100%
    overflow-y: auto

  &__item
    align-items: center
    cursor: pointer
    display: flex
    height: 5.625rem
    margin: 0 auto
    min-width: 250px
    padding-left: 10%
    padding-right: 10%
    position: relative
    &__position,
    &__company
      margin: 0
      font-size: 0.8rem
    &__position
      font-style: italic
      opacity: .8
      margin-top: 0.15rem
    &__company
      margin-top: 0.15rem
    &.is-active
      background-color: #000C40
      color: #fff
    &:hover
      background-color: lighten($color-text, 50%)
      color: #fff


    .c-representatives__photo
      align-items: center
      background-color: #fff
      border-radius: 50%
      display: flex
      height: 3.75rem
      justify-content: center
      margin-right: 1rem
      overflow: hidden
      width: 3.75rem
      img
        height: 100%
        width: auto

    .c-representatives__name
      font-size: 0.9rem
      font-weight: 500
      margin: 0

    .c-representatives__status
      align-items: center
      display: flex
      font-size: 0.875rem
      font-weight: 400
      margin: 0
      position: absolute
      top: 0.75rem
      right: 0.5rem
      &::before
        background-color: #f00
        border-radius: 50%
        content: ''
        display: block
        height: 8px
        margin-right: 3px
        width: 8px
      &.is-connected
        &::before
          background-color: #008F2F
