.c-tab-company
  display: flex
  width: 100%
  flex none
  & > *
    align-items: center
    display: flex
    height: 47px
    justify-content: center
    width: 100%
    background-color: rgba($color-text, .2)
    font-weight: 500
    color: $color-text
    font-size: 0.95rem
    @media (max-width: 775px)
      height: 35px
      font-weight: 400
      font-size: 14px
  &--width-initial
    width: initial
    & > *
      width: initial
      padding-left: 1.2rem
      padding-right: 1.2rem
  &--height-small
    & > *
      height: 38px
      font-size: 13px
      min-width: 9rem
  &--background
    width: 100%
    background-color: $color-background
  &__item
    outline: none
    border: none
    border-left: 1px solid rgba($color-text, .3)
    transition: background-color .4s ease
    @media (max-width: 600px)
      font-size: 0.8rem
      line-height: 1
  &__item:nth-child(1)
    border-left: none

  .is-select
    background-color: $color-primary
    color: #eee
    position: relative
    border-left: none
    &::before
      content: ''
      width: 0
      height: 0
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      border-right: 5px solid transparent
      border-top: 5px solid transparent
      border-left: 5px solid transparent
      border-bottom: 5px solid #fff
