<template lang="pug">
  .NewsScreen
    sections-wrapper(:elements="2", :initialHeight="true")
      div(slot="element1", class="u-width-100")
        router-view(class="u-px4 u-py4")

      div(v-if="desktop", slot="element2", class="u-bg-background")
        div(v-for="(element, index) in noticeProfile.others",
            :key="`notice__others${index}`")
          notice(:notice="element")
          .u-pt2.u-bg-background
</template>

<script>
  import { mapGetters } from 'vuex'
  import { notToken } from 'scripts/not-token'

  export default {
    name: 'NewsScreen',
    data () {
      return {
        desktop: window.innerWidth > 1200
      }
    },

    created () {
      notToken(this)
    },

    computed: {
      ...mapGetters([
        'tokenState',
        'noticeProfile'
      ])
    }
  }
</script>
