<template lang="pug">
  .c-chat-menu(:class="{'is-compact': compact}")
    .c-chat-menu__wrapper
      //- .c-chat-menu__search
      .swiper-container(style="width:100%")
        .swiper-wrapper
          .swiper-slide(v-for="(element, index) in reps")
            .c-chat-menu__representative(
            :class="{'is-active':`${element.id}`===`${currentRepresentative.id}`}"
            @click="change_representative(element)")
              figure.c-chat-menu__representative__wrapper
                img(:src="element.image")
      .c-chat-menu__companies
        app-button(text="La Empresa",
                  class="u-ml1 u-mr1",
                  :modifierWidth="false",
                  @click="$emit('open-company', 'company')")
        app-button(text="Mi portafolio",
                  class="u-ml1 u-mr1",
                  :modifierWidth="false",
                  @click="$emit('open-company', 'my-company')")

    .c-chat-menu__down
      i.u-icon.u-icon--arrow-down(
        @click="compact=false",
        v-show="compact")
      i.u-icon.u-icon--arrow-up(
        @click="compact=true",
        v-show="!compact")
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'chat-menu',
    data () {
      return {
        searchText: '',
        reps: [],
        swiperOptions: {
          // autoplay: 4000,
          // loop: true,
          slidesPerView: 7,
          speed: 1000,
          breakpoints: {
            1024: { slidesPerView: 7 },
            875: { slidesPerView: 6 },
            640: { slidesPerView: 5 },
            320: { slidesPerView: 4 }
          }
        },

        compact: true
      }
    },

    watch: {
      getRepresentatives (newVal) {
        if (newVal) {
          this.reps = this.representatives
        }

        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-container', this.swiperOptions)
          let tmp = false
          if (tmp) { console.log(swiper) }
        }, 500)
      }
    },

    computed: {
      ...mapGetters({
        currentRepresentative: 'zicochatCurrentRepresentative',
        representatives: 'zicochatRepresentativesAll',
        getRepresentatives: 'zicochGetRepresentatives'
      })
    },

    methods: {
      ...mapActions([
        'changeRepresentative'
      ]),

      change_representative (rep) {
        this.compact = true
        this.changeRepresentative(rep)
      }
    }
  }
</script>
