<template lang="pug">
  .c-chat
    .c-chat__title()
      h4.c-chat__title__text
        span {{ currentRepresentative.firstName }} {{ currentRepresentative.lastName }}
        strong &#32- {{ currentRoom.company.name || '' }}
    chat-menu(
      v-if="!mobile",
      @open-company="openCompany")
    ul.c-chat__messages#c-chat__messages
      li.c-chat__message(v-for="msg in messages",
                      :class="{'c-chat__message--i':userProfile.userId === msg.userId}")
        .c-chat__message__content
          p(v-html="msg.content")
          p.c-chat__message__footer
            span.time {{ msg.time }}
            span.date , {{ msg.date }}
            i.u-icon.u-icon--check(v-show="msg.status")
            i.u-icon.u-icon--clock(v-show="!msg.status")

    .c-chat__new-message
      textarea(
            @keyup="keyupall",
            placeholder="Escribe algo",
            v-model="newMessage",
            type="text")
</template>

<script>
  import { camelizeKeys } from 'humps'
  import { mapActions, mapGetters } from 'vuex'
  import ChatMenu from './ChatMenu'

  export default {
    components: {
      ChatMenu
    },
    data () {
      return {
        mobile: window.innerWidth < 776,
        newMessage: '',
        connectionChat: false,
        urlConnection: `${window.SERVER_NAME}:3000`
        // urlConnection: '192.168.0.111:3000'
      }
    },

    mounted () {
      document.getElementById('c-chat__messages').scrollTop = 999999999
    },

    watch: {
      messages (newVal) {
        setTimeout(() => {
          document.getElementById('c-chat__messages').scrollTop = 999999999
        }, 5)
      },

      currentRoom (newVal) {
        if (this.connectionChat) {
          window.socketChat.disconnect()
        } else {
          this.connectionChat = true
        }
        this.startConnection(newVal.roomName)
      }
    },

    computed: {
      ...mapGetters({
        currentRepresentative: 'zicochatCurrentRepresentative',
        currentRoom: 'zicochatCurrentRoom',
        messages: 'zicochatMessagesAll',
        thereAreRooms: 'zicochatThereAreRooms',
        userProfile: 'userProfile'
      })
    },

    methods: {
      ...mapActions([
        'submitNewMessage',
        'addNewMessage'
      ]),

      openCompany (txt) {
        this.$emit('open-company', txt)
      },

      startConnection (roomName) {
        let vm = this
        window.socketChat = window.io.connect(this.urlConnection)
        window.socketChat.on(roomName, (data) => {
          vm.addNewMessage(camelizeKeys(data))
        })
      },

      keyupall (e) {
        if (e.keyCode === 13) { // enter
          if (!e.shiftKey) { // shift
            this.submitMessage()
          }
        }
      },

      submitMessage () {
        if (this.newMessage !== '' && this.newMessage !== ' ' && this.newMessage !== '  ' && this.newMessage) {
          let msg = this.newMessage
          let lngth = msg.length
          let indx = msg.lastIndexOf('\n') + 1
          while (lngth === indx) {
            msg = msg.slice(0, msg.length - 1)
            lngth = msg.length
            indx = msg.lastIndexOf('\n') + 1
          }
          this.submitNewMessage(msg.split('\n').join('<br>'))
          this.newMessage = ''
        }
      }
    }
  }
</script>
