<template lang="pug">
  .c-company-information
    .c-company-information__info
      figure.c-company-information__figure
        img(:src="currentRoom.company.image200px")
      div
        h3.c-company-information__title
          |{{ currentRoom.company.name }}
        //- app-button(text="Ver perfil",
        //-           :modifierWidth="true",
        //-           @click="go_company_profile")

    ul.c-company-information__offers
      h2.c-company-information__offers__title
        i.u-icon notebook
        span Ofertas
      li.c-company-information__offer(
          v-for="(offer, index) in currentRoom.company.items",
          :key="`c-company-information__offer${index}`",
          @click="$emit('change_component', 'offer', offer.slug)")
        span.pre Oferta {{index+1}} :&#32
        span.title {{offer.name}}
        i.u-icon.u-icon--arrow-right
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    computed: {
      ...mapGetters({
        currentRoom: 'zicochatCurrentRoom',
        selectedLanguage: 'selectedLanguage'
      })
    },

    methods: {
      go_company_profile () {
        this.$router.push({
          name: 'CompanyProfile',
          params: {
            companySlug: this.currentRoom.company.slug,
            langCode: this.selectedLanguage.code.toLowerCase()
          }
        })
      }
    }
  }
</script>
