<template lang="pug">
  .c-notes-container
    .c-notes-container__title
      i.u-icon notebook
      h3 Notas Registradas

    .c-notes-container__new
      textarea(
        v-model="noteText",
        placeholder="Escribe un acuerdo ...")
      .c-notes-container__submit
        update-button(
          :definedWidth="false",
          :loading="loadingSave",
          @click="submitNewNote",
          text="Guardar")

    .c-notes-container__list
      note(v-for="(element, index) in notesAll",
          :key="`notes${index}`",
          :element="element")
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import Note from './Note'

  export default {
    data () {
      return {
        loadingSave: false,
        noteText: ''
      }
    },

    mounted () {
      this.requestNotes(this.currentRoom.roomName)
    },

    components: { Note },

    watch: {
      notesAll (newVal) {
        this.loadingSave = false
      },
      currentRoom (newVal) {
        this.requestNotes(newVal.roomName)
      }
    },

    methods: {
      ...mapActions([
        'createNote',
        'requestNotes'
      ]),

      submitNewNote () {
        this.loadingSave = true
        this.createNote({
          roomName: this.currentRoom.roomName,
          content: this.noteText
        })
        this.noteText = ''
      }
    },

    computed: {
      ...mapGetters({
        currentRoom: 'zicochatCurrentRoom',
        notesAll: 'zicochatNotesAll'
      })
    }
  }
</script>
