<template lang="pug">
  .c-notes-container__note
    .c-notes-container__note__content(
      v-html="noteContent",
      v-show="!editing")
    textarea.c-notes-container__note__textarea(
      v-model="noteContent",
      v-show="editing")
    .c-notes-container__note__footer
      .c-notes-container__note__date
        p {{element.time}} - {{element.date}}
      .c-notes-container__note__actions
        update-button(
          v-show="!editing && !loadingDelete",
          :definedWidth="false",
          :loading="loadingUpdate",
          @click="editing = true",
          text="Editar")
        update-button(
          v-show="!editing",
          :color-primary="true",
          :loading="loadingDelete",
          @click="modalDelete=true",
          text="Eliminar")
        update-button(
          v-show="editing",
          :definedWidth="false",
          :loading="loadingUpdate",
          @click="noteEdit",
          text="Guardar")
        update-button(
          v-show="editing",
          :definedWidth="false",
          :loading="loadingUpdate",
          @click="cancelNoteEdit",
          text="Cancelar")
    .c-notes-container__note__modal(v-show="modalDelete")
      .bg
      .content
        h3.title ¿Está seguro de que desea eliminar permanentemente la nota especificada?
        .actions
          update-button(
            :loading="false",
            @click="NoteRemove",
            text="Si")
          update-button(
            :loading="false",
            @click="modalDelete=false",
            text="No")
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    props: {
      element: {
        type: Object,
        default () {
          return {}
        }
      }
    },

    mounted () {
      this.noteContent = this.element.content
    },

    data () {
      return {
        editing: false,
        loadingUpdate: false,
        loadingDelete: false,
        modalDelete: false,

        noteContent: ''
      }
    },

    watch: {
      element (newVal) {
        if (!this.editing) {
          this.noteContent = this.element.content
        }
        this.loadingUpdate = false
      }
    },

    methods: {
      ...mapActions([
        'updateNote',
        'deleteNote'
      ]),

      cancelNoteEdit () {
        this.editing = false
        this.noteContent = this.element.content
      },

      noteEdit () {
        this.editing = false
        this.loadingUpdate = true
        this.updateNote({
          id: this.element.id,
          content: this.noteContent
        })
      },

      NoteRemove () {
        this.editing = false
        this.deleteNote(this.element.id)
      }
    }
  }
</script>
