<template lang="pug">
  .c-representatives
    .c-representatives__search
      input(placeholder="Buscar Contacto",
            type="text",
            v-model="searchText",
            @keyup.enter="searchRepresentantives")
      label.c-representatives__search__label
        i.u-icon search
    ul.c-representatives__list
      li.c-representatives__item(v-for="rep in reps",
          :class="{'is-active':`${rep.id}`===`${currentRepresentative.id}`}"
          @click="change_representative(rep)")

        .c-representatives__status(:class="{'is-connected': rep.status}")
        figure.c-representatives__photo
          img(:src="rep.image")
        .u-flex.u-flex-column.u-justify-center
          h4.c-representatives__name {{ rep.firstName + ' ' + rep.lastName }}
          p.c-representatives__item__position {{ rep.position }}
          p.c-representatives__item__company {{ rep.companyName }}
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    data () {
      return {
        urlConnection: `${window.SERVER_NAME}:3000`,
        // urlConnection: '192.168.0.111:3000',
        searchText: '',
        reps: []
      }
    },

    computed: {
      ...mapGetters({
        currentRepresentative: 'zicochatCurrentRepresentative',
        representatives: 'zicochatRepresentativesAll',
        getRepresentatives: 'zicochGetRepresentatives'
      })
    },

    watch: {
      getRepresentatives (newVal) {
        if (newVal) {
          // this.startConnection()
          this.reps = this.representatives
        }
      }
    },

    methods: {
      ...mapActions([
        'changeRepresentative',
        'trueStateRepresentative',
        'falseStateRepresentative'
      ]),

      searchRepresentantives () {
        let vm = this
        vm.reps = []
        vm.representatives.forEach((ele) => {
          let tmp = ele.firstName.toLowerCase()
          tmp = tmp.search(vm.searchText.toLowerCase())
          if (tmp > -1) {
            vm.reps.push(ele)
          } else {
            tmp = ele.lastName.toLowerCase()
            tmp = tmp.search(vm.searchText.toLowerCase())
            if (tmp > -1) {
              vm.reps.push(ele)
            }
          }
        })
      },

      startConnection () {
        let vm = this
        // window.socketRep.disconnect()
        window.socketRep = window.io.connect(this.urlConnection, { 'forceNew': true })
        window.socketRep.on('connection', (data) => {
          // debugger
          if (data.data.status) {
            vm.trueStateRepresentative(data.data.representativeId)
          } else {
            vm.falseStateRepresentative(data.data.representativeId)
          }
        })
      },

      change_representative (rep) {
        this.changeRepresentative(rep)
        this.$emit('selected-representative')
      }
    }
  }
</script>
