<template lang="pug">
  .ZicoChatScreen
    sections-wrapper(
      :elements="3",
      :menu-displayed="false",
      :above="true",
      @change-component="changeCurrentComponent")
      div(
        slot="element1",
        :class="{'is-active': responsiveRepresentative}")
        representatives(@selected-representative="hiddenRepresentativeResponsive")

      div(
        v-if="!mobile",
        slot="element2",
        :class="{'is-compact': responsiveCompany}")
        chat(@open-company="activeCompanyResponsive")

      div(
        slot="element3",
        class="u-flex u-flex-column u-items-start", :class="{'is-active': responsiveCompany}")

        //- .close.u-absolute.u-z-index-3.u-color-text3(
        //-   @click="hiddenCompanyResponsive",
        //-   style="top:4rem;right:1rem;cursor:pointer")
        //-   i.u-icon cross

        .c-tab-company.u-mb3
          button.c-tab-company__item(
            type="button",
            v-if="mobile",
            :class="{'is-select': currentTab == 'chat'}",
            @click="clickTabChat")
            |{{userProfile.firstName}}
          button.c-tab-company__item(
            type="button",
            :class="{'is-select': !tabsCompany && (currentTab == 'company' || currentTab == 'offer-info')}",
            @click="clickTabOtherCompany")
            |La contraparte
          button.c-tab-company__item(
            type="button",
            :class="{'is-select': tabsCompany && (currentTab == 'my-company' || currentTab == 'offer-info')}",
            @click="clickTabMyCompany")
            |Mi Portafolio
          button.c-tab-company__item(
            type="button",
            :class="{'is-select': currentTab == 'notes-container'}",
            @click="clickTabNotes")
            |Notas

        component(:is="currentTab",
                  :imagesInModal="true",
                  :item="offerData",
                  class="u-width-100",
                  style="overflow-y:auto",
                  @change_component="changeCurrentTab")
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import { notToken } from 'scripts/not-token'
  import axios from 'axios'

  import Chat from './Chat'
  import Company from './Company'
  import MyCompany from './MyCompany'
  import NotesContainer from './NotesContainer'
  import Representatives from './Representatives'

  export default {
    name: 'ZicoChatScreen',
    components: {
      Chat,
      Company,
      MyCompany,
      NotesContainer,
      Representatives
    },

    data () {
      return {
        responsiveCompany: false,
        tabsCompany: false,
        first: true,
        currentTab: window.innerWidth < 776 ? 'chat' : 'company',
        mobile: window.innerWidth < 776,
        responsiveRepresentative: window.innerWidth < 776,

        offerData: {
          applications: '',
          attributes: '',
          coin: '',
          description: '',
          id: 4,
          name: '',
          params: '',
          price: '',
          references: '',
          sale: '',
          sector: 2,
          company: {
            id: 2,
            name: '',
            image_200px: '',
            slug: ''
          },
          image_550px: []
        }
      }
    },

    created () {
      notToken(this)
    },

    mounted () {
      this.beginRepresentatives()
    },

    watch: {
      currentRepresentative (newVal) {
        // debugger
        // if (!this.first) {
        //   this.fillChat(newVal.companyId)
        // } else {
        //   this.first = false
        // }
        this.fillChat(newVal.id)
      },

      getRepresentatives (newVal) {
        if (newVal) {
          if (this.representativesAll.length > 0) {
            if (this.referenceCompany) {
              if (!this.existsReferenceInRepresentatives) {
                this.createdRoom(this.referenceCompanyId)
                this.fillChat(this.referenceCompanyId)
              } else {
                this.fillChat(this.referenceCompanyId)
                const tmpRep = this.representativesAll.find((el) => {
                  return `${el.id}` === `${this.referenceCompanyId}`
                })
                if (tmpRep) { this.changeRepresentative(tmpRep) }
              }
            } else {
              this.changeRepresentative(this.lastRepresentative)
              this.fillChat(this.lastRepresentative.id)
            }
          } else {
            if (this.referenceCompany) {
              this.createdRoom(this.referenceCompanyId)
            } else {
              this.$router.push({ name: 'Offers' })
            }
          }
        }
      }
    },

    computed: {
      ...mapGetters({
        currentRepresentative: 'zicochatCurrentRepresentative',
        existsReferenceInRepresentatives: 'zicochatExistsReferenceInRepresentatives',
        getRepresentatives: 'zicochGetRepresentatives',
        lastRepresentative: 'zicochatLastRepresentative',
        referenceCompany: 'zicochatReferenceCompany',
        referenceCompanyId: 'zicochatReferenceCompanyId',
        representativesAll: 'zicochatRepresentativesAll',
        selectedLanguage: 'selectedLanguageJson',
        tokenState: 'tokenState',
        userProfile: 'userProfile'
      })
    },

    methods: {
      ...mapActions([
        'beginRepresentatives',
        'changeRepresentative',
        'createdRoom',
        'fillChat'
      ]),

      changeCurrentComponent (tmp) {
        switch (tmp) {
          case 'representative':
            this.hiddenCompanyResponsive()
            this.activeRepresentativeResponsive()
            break
          case 'chat':
            this.hiddenCompanyResponsive()
            this.hiddenRepresentativeResponsive()
            break
          case 'company':
            this.activeCompanyResponsive('company')
            break
          case 'my-company':
            this.activeCompanyResponsive('my-company')
            break
          case 'notes':
            this.activeCompanyResponsive('company')
            this.changeCurrentTab('notes')
        }
      },
      activeRepresentativeResponsive () {
        this.responsiveRepresentative = true
      },
      hiddenRepresentativeResponsive () {
        this.responsiveRepresentative = false
      },

      activeCompanyResponsive (txt) {
        this.responsiveCompany = true
        if (txt === 'my-company') {
          this.tabsCompany = true
          this.changeCurrentTab('my-company')
        } else {
          this.tabsCompany = false
          this.changeCurrentTab('company')
        }
      },
      hiddenCompanyResponsive () {
        this.responsiveCompany = false
      },

      changeCurrentTab (to, slug = '') {
        switch (to) {
          case 'company':
            this.currentTab = 'company'
            break
          case 'my-company':
            this.currentTab = 'my-company'
            break
          case 'offer':
            this.beginOffer(slug)
            this.currentTab = 'offer-info'
            break
          case 'back':
            if (!this.tabsCompany) {
              this.changeCurrentTab('company')
            } else {
              this.changeCurrentTab('my-company')
            }
            break
          case 'notes':
            this.currentTab = 'notes-container'
            break
          case 'chat':
            this.currentTab = 'chat'
        }
      },

      clickTabChat () {
        this.changeCurrentTab('chat')
      },
      clickTabOtherCompany () {
        this.tabsCompany = false
        this.changeCurrentTab('company')
      },
      clickTabMyCompany () {
        this.tabsCompany = true
        this.changeCurrentTab('my-company')
      },
      clickTabNotes () {
        this.changeCurrentTab('notes')
      },

      beginOffer (slug) {
        axios({
          method: 'get',
          url: `${window.API_URL}/items/${slug}`,
          headers: {
            language: this.selectedLanguage.code
          }
        })
        .then(({ data }) => { this.offerData = data.data })
        .catch(() => {})
      }
    }
  }
</script>

<style lang="stylus">
  .ZicoChatScreen
    .c-sections-wrapper__content
      @media(max-width: 775px)
        padding-top 0
        padding-bottom 0
    .c-sections-wrapper__elements
      position relative
      & > *:nth-child(1) // element1
        flex: none
        width: 330px
        @media(max-width: 1200px)
          display: none
          margin-right: 0px
        @media(max-width: 775px)
          display block
          height: 100%
          left: 0
          margin-left 0
          max-width: initial
          position: absolute
          top: 0
          transform: translateX(105%)
          transition transform .5s ease
          width: 100%
          z-index: 9
          .close
            display block
          &.is-active
            transform translateX(0)

      & > *:nth-child(2) // element2
        width: 100%
        .c-chat-menu
          display none
        @media(max-width: 1200px)
          margin-left: 0px
          .c-chat-menu
            display block
        @media(max-width: 775px)
          margin-right 0
          transition transform .4s ease
          &.is-compact
            transform scale(0.85)

      & > *:nth-child(3) // element3
        flex: none
        max-width: 450px
        overflow-y auto
        overflow: hidden
        width: 450px
        .close
          display none
        @media(max-width: 900px)
          max-width 350px
        @media(max-width: 775px)
          height: 100%
          left: 0
          margin-left 0
          max-width: initial
          position: absolute
          top: 0
          transform: translateX(105%)
          transition transform .5s ease
          width: 100%
          z-index: 9
          .close
            display block
          &.is-active
            transform translateX(0)
</style>
