<template lang="pug">
  div.LanguagesScreen
    router-view()
</template>

<script>
  import { languages } from 'scripts/languages'
  import { mapActions } from 'vuex'

  export default {
    name: 'LanguagesScreen',

    beforeRouteEnter (to, from, next) {
      let lang = languages(to.params.langCode)

      if (lang === 'not-found') {
        next({ name: 'Languages', params: { langCode: 'es' } })
      } else {
        next()
      }
    },

    created () {
      this.startSelectLanguages()
      this.beginSectors()
      this.beginRegions()
    },

    methods: {
      ...mapActions([
        'beginRegions',
        'beginSectors',
        'startSelectLanguages'
      ])
    }
  }
</script>
