<template lang="pug">
  .FourHundredFourScreen
    not-found()
</template>

<script>
  import NotFound from 'components/NotFound'

  export default {
    name: 'FourHundredFourScreen',
    components: {
      NotFound
    }
  }
</script>
