<template lang="pug">
  div.LoginScreen.c-login
    form.c-login__form(@submit.prevent="init_login")
      figure.c-login__form__figure
        img(src="/defaults/images/isotipo.png")
        figcaption Iniciar sesión
      .c-login__form__content
        input(v-model="form.username", placeholder="Nombre de Usuario", type="text")
        input(v-model="form.password", placeholder="Contraseña", type="password")
        app-button(text="Ingresar", type="submit")
        app-link.u-mt3.u-text-center(:routerLink="{ name: 'Recover' }", text="¿Olvidaste Contraseña?")
      p.c-login__form__footer
        span &copy; 2017 Zicomarket
        span Todos los derechos reservados
        span Desarrollado por Noveltie.
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'LoginScreen',
    data () {
      return {
        form: {
          username: '',
          password: ''
        }
      }
    },

    created () {
      if (this.tokenState) {
        this.$router.push({ name: 'Offers' })
      }
    },

    watch: {
      tokenState (newVal) {
        if (newVal) {
          this.$router.push({ name: 'Offers' })
        }
      }
    },

    computed: {
      ...mapGetters([
        'tokenState'
      ])
    },

    methods: {
      ...mapActions([
        'createdToken', 'updateToken'
      ]),
      init_login () {
        this.createdToken(this.form)
      }
    }
  }
</script>
