<template lang="pug">
  .c-index-contact
    .c-index-contact__container
      .c-index-contact__info
        h2.c-index-contact__title Contáctanos
        p.c-index-contact__paragraph Éscribenos y nuestro departamento de cuentas se pondrá en contacto para brindarte toda la información que requieras.
        ul.c-index-contact__info__list
          li(v-for="(element, index) in branchOffice",
            :key="`branchOffice${index}`")
            h5.c-index-contact__info__list__title
              img(:src="element.countryImageUrl")
              |Zicomarket en {{element.countryName}}
            .u-flex
              div.u-flex
                i.u-icon.u-icon--cel
                ul
                  li(v-for="(ele, index) in element.phone",
                    :key="`phone${index}`")
                    |{{ele}}
              div.u-flex.u-ml5
                i.u-icon.u-icon--phone
                ul
                  li(v-for="(ele, index) in element.cel",
                    :key="`cel${index}`")
                    |{{ele}}
            div.u-flex.u-mt3
              i.u-icon.u-icon--message_black
              |direcom@zicomarket.com

      form.c-index-contact__form(v-on:submit.prevent="onSubmit")
        .two
          input(
            placeholder="El nombre de su empresa",
            v-model="jsonToSave.comercialName",
            required)
          select(v-model="jsonToSave.sectorId")
            option(value="0" disabled selected, style="display:none")
              |Sector de la empresa
            option(
              v-for="(element, index) in sectorsAll",
              :key="`sectors${index}`",
              :value="element.id")
              |{{element.name}}
        .two
          input(placeholder="Nombres", v-model="jsonToSave.firstName", required)
          input(placeholder="Apellidos", v-model="jsonToSave.lastName", required)
        .two
          select(v-model="jsonToSave.positionId")
            option(value="0" disabled selected, style="display:none")
              |Su rol en la empresa
            option(
              v-for="(element, index) in positions",
              :value="element.id")
              |{{element.name}}
          input(placeholder="Su correo electrónico", v-model="jsonToSave.email" required)

        input(placeholder="Código de su país + Código de su ciudad + Numero de contacto", v-model="jsonToSave.cel" required)
        textarea(placeholder="Comentario", v-model="jsonToSave.comment", required)

        .two
          select(v-model="jsonToSave.countryId")
            option(value="0" disabled selected, style="display:none")
              |País
            option(
              v-for="(element, index) in countriesAll",
              :value="element.id")
              |{{element.name}}
          //- input(placeholder="Región / Estado", required)
          select(v-model="jsonToSave.regionId")
            option(value="0" disabled selected, style="display:none")
              |Región / Estado
            option(
              v-for="(element, index) in regionsAll",
              :value="element.id")
              |{{element.name}}
        .two
          input(placeholder="Provincia", v-model="jsonToSave.province", required)
          input(placeholder="Ciudad", v-model="jsonToSave.city", required)

        .submit
          app-button(text="Enviar",
            :loading="loadingSubmit",
            type="submit",
            :modifierWidth="true")
</template>

<script>
  import axios from 'axios'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    data () {
      return {
        jsonToSave: {
          'comercialName': '',
          'sectorId': 0,
          'firstName': '',
          'lastName': '',
          'positionId': 0,
          'email': '',
          'cel': '',
          'comment': '',
          'countryId': 0,
          'regionId': 0,
          'province': '',
          'city': ''
        },
        branchOffice: [],
        positions: [],
        loadingSubmit: false
      }
    },

    created () {
      this.requestCountries()
      this.requestBranchOfice()
      this.requestPositions()
    },

    computed: {
      ...mapGetters([
        'selectedLanguageJson',
        'sectorsAll',
        'countriesAll',
        'regionsAll'
      ])
    },

    methods: {
      ...mapActions([
        'requestCountries'
      ]),

      onSubmit () {
        let mv = this
        mv.loadingSubmit = true
        axios({
          method: 'post',
          url: `${window.API_URL}/contact`,
          headers: {
            'Content-Type': 'application/json',
            language: this.selectedLanguageJson.code
          },
          data: this.jsonToSave
        })
        .then(() => {
          window.toastr.success('Los datos han sido enviados con exito', 'ZICOMARKET')
          mv.loadingSubmit = false
          mv.jsonToSave = {
            'comercialName': '',
            'sectorId': 0,
            'firstName': '',
            'lastName': '',
            'positionId': 0,
            'email': '',
            'cel': '',
            'comment': '',
            'countryId': 0,
            'regionId': 0,
            'province': '',
            'city': ''
          }
        })
        .catch(() => {
          mv.loadingSubmit = false
        })
      },

      requestBranchOfice () {
        let mv = this
        axios({
          method: 'get',
          url: `${window.API_URL}/branch-office?zico=true`,
          headers: {
            'Content-Type': 'application/json',
            language: this.selectedLanguageJson.code
          }
        })
        .then(({data}) => {
          mv.branchOffice = data.data
        })
        .catch(() => {})
      },

      requestPositions () {
        let mv = this
        axios({
          method: 'get',
          url: `${window.API_URL}/positions`,
          headers: {
            'Content-Type': 'application/json',
            language: this.selectedLanguageJson.code
          }
        })
        .then(({data}) => {
          mv.positions = data.data
        })
        .catch(() => {})
      }
    }
  }
</script>
