<template lang="pug">
  div.LanguagesDefault
    .c-app-index
      app-nav()
      .c-app-index__cover-page
        h2.c-app-index__title
          |{{ home.title || 'Intégrate a Zicomarket.com y conéctate con empresas de la Zicosur' }}
        ul.c-app-index__countries
          li.c-app-index__countries__wrapper(
            v-for="(element, index) in countriesVisible",
            :key="`app-index${index}`")
            .c-app-index__countries__item
              img.img(:src="element.imageUrl")
              span.name {{ element.name }}
              span.companies {{ element.numberCompanies }} Empresas

      .c-app-index__description
        .c-app-index__description__wrapper
          h2.c-app-index__description__title
            |{{ home.description.title || 'La plataforma de Inteligencia Comercial Para la Zicosur' }}
          p.paragraph.u-mt3.u-mb0
            |{{ home.description.description || '' }}
          ul.u-flex.u-flex-wrap.u-mt2
            li.u-m2(v-for="(element, index) in countriesVisible",
                    :key="`image_countries${index}`")
              img.img(:src="element.imageUrl")
          div.u-mt3
            a(href="#")
              i.u-icon.u-fz-h1 terms
              span Leer más de Zicomarket

      .c-app-index__partners
        h2.u-color-text3.u-mb4.u-mt0.u-text-center.u-fw500.u-fz-h1
          |Ellos ya se integraron a la comunidad
        .u-relative.u-flex.u-justify-center.u-items-center(style="overflow:hidden")
          .swiper-container.swiper-partners
            .swiper-wrapper
              .swiper-slide(v-for="(element, index) in partners",
                          :key="`Offer__notice${index}`")
                img(:src="element.imageUrl",
                    class="u-dspl-block",
                    style="max-width:200px;margin-left:auto;margin-right:auto")
          .swiper--next
            i.u-icon.u-icon--arrow-right
          .swiper--prev
            i.u-icon.u-icon--arrow-left

      testimonies()
      contact()
      app-footer()
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import Contact from './Contact'
  import Testimonies from './Testimonies'

  export default {
    name: 'LanguagesDefault',
    components: {
      Contact, Testimonies
    },

    data () {
      return {
        home: window.HOME,
        swiperOptions: {
          // autoplay: 4000,
          // loop: true,
          speed: 600,
          slidesPerView: 4,
          spaceBetween: 10,
          nextButton: '.swiper--next',
          prevButton: '.swiper--prev',
          breakpoints: {
            1200: {
              slidesPerView: 4,
              spaceBetween: 10
            },
            900: {
              slidesPerView: 3,
              spaceBetween: 0
            },
            750: {
              slidesPerView: 2,
              spaceBetween: 20
            },
            500: {
              slidesPerView: 1,
              spaceBetween: 0
            }
          }
        }
      }
    },

    created () {
      this.requestCountriesVisible()
      this.requestPartners()
    },

    watch: {
      partners (newVal) {
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-partners', this.swiperOptions)
          if (!newVal) { console.log(swiper) }
        }, 500)
      }
    },

    computed: {
      ...mapGetters([
        'countriesVisible',
        'partners'
      ])
    },

    methods: {
      ...mapActions([
        'requestCountriesVisible',
        'requestPartners'
      ])
    }
  }
</script>
