<template lang="pug">
  .c-testimonies
    .c-testimonies__bg
    .c-testimonies__wrapper
      .swiper-container.swiper-testimonies
        .swiper-wrapper
          .swiper-slide(v-for="(element, index) in testimonies",
              :key="`testomonies${index}`")
            .c-testimonies__container
              .c-testimonies__image
                img(:src="element.imageUrl")

              .c-testimonies__content
                h3.c-testimonies__title
                  |{{element.fullname}}
                h4.c-testimonies__subtitle
                  |{{element.position}}

                .c-testimonies__description(
                  v-html="element.description")
</template>

<script>
  import axios from 'axios'
  import { mapGetters } from 'vuex'

  export default {
    data () {
      return {
        testimonies: [],
        swiperOptions: {
          autoplay: 15000,
          // loop: true,
          speed: 1000,
          spaceBetween: 30,
          slidesPerView: 1
        }
      }
    },

    created () {
      this.requestTestimonies()
    },

    props: {
      testimony: {
        type: Object,
        default () {
          return {
            imageUrl: '',
            fullname: '',
            position: '',
            description: ''
          }
        }
      }
    },

    computed: {
      ...mapGetters([
        'selectedLanguageJson'
      ])
    },

    methods: {
      requestTestimonies () {
        let mv = this
        axios({
          method: 'get',
          url: `${window.API_URL}/testimonies`,
          headers: {
            'Content-Type': 'application/json',
            language: this.selectedLanguageJson.code
          }
        })
        .then(({data}) => {
          mv.testimonies = data.data
          setTimeout(() => {
            let swiper = new window.Swiper('.swiper-testimonies', mv.swiperOptions)
            if (!data.data) { console.log(swiper) }
          }, 500)
        })
        .catch(() => {})
      }
    }
  }
</script>
