input[type='text'], input[type='password'], textarea
  background-color: #eceef0
  border-color: $color-background2
  border-radius: $border-radius
  border-style: solid
  border-width: $border-width
  color: $color-text
  font-size: 0.9rem
  height: 45px
  min-width: 10rem
  padding-left: 1rem
  padding-right: 1rem

  &:focus
    background-color: #fff
    // border-color: $color-primary
