.multiselect
  max-width: 175px
  cursor: pointer
  box-sizing: border-box
  &__tags
    border: none
    // background-color: lighten(#1E1C1F, 6%)
    border-radius: 0
  &__single
    border-radius: 0
    // background-color: lighten(#1E1C1F, 6%)
    // color: #ddd
    color: $color-text
    font-weight: 500
  &__content
    border-radius: 0
    width: 175px
    right: 0
    box-shadow: 1px 3px 25px rgba(#000, .6)
    border: none
  &__option
    color: $color-text
    padding-left: 2rem
    padding-right: 2rem
    &--highlight
      background-color: darken($color-background, 5%) !important
      color: $color-text2 !important
