.c-ger-button
  align-items: center
  background-color: $color-primary
  border-color: $color-primary
  border-radius: $border-radius
  border-style: solid
  border-width: $border-width
  color: #fff
  // letter-spacing: 1px
  display: flex
  font-size: 15px
  font-weight: 500
  height: 2.7rem
  justify-content: center
  padding-left: 1.5rem
  padding-right: 1.5rem
  text-align: center
  transition: .5s ease background-color, color

  &:hover
    background-color: transparent
    color: $color-primary



.c-ger-button--transparent
  background-color: transparent
  color: $color-primary

  &:hover
    background-color: $color-primary
    color: #fff



.c-ger-button--width
  margin-left: auto
  margin-right: auto
  width: 10rem



.c-ger-button--default
  background-color: transparent
  border-color: inherit
  color: $border-color

  &:hover
    background-color: transparent
    color: $border-color
