.c-ger-loading__load {
	width: 20px
  animation: ger-loading 3s linear infinite
}

.c-ger-loading__inner {
  stroke-dashoffset: 0
  stroke-dasharray: 300
  stroke-width: 15
  stroke-miterlimit: 10
  stroke-linecap: round
  animation: ger-loading-circle 2s linear infinite
  stroke: $color-primary
  fill: transparent
}

.c-ger-loading--white {
	.c-ger-loading__inner {
		stroke: #fff
	}
}

@keyframes ger-loading {
	0% {
    transform: rotate(0);
  }
	100% {
    transform: rotate(360deg);
  }
}
@keyframes ger-loading-circle {
	0% {
    stroke-dashoffset: 0
  }
	100% {
    stroke-dashoffset: -600;
  }
}
