<template lang="pug">
  .c-app-footer
    div
      .c-app-footer__wrapper-title
        h2.u-color-white.u-mb0.u-mt0.u-fw500.u-fz-h3
          |Conéctate con empresas de la Zicosur.
        .u-pt3.u-pb3
          app-button(text="Intégrate",
                    :modifierWidth="true")

      .c-app-footer__wrapper-content
        div
          h4.c-app-footer__subtitle
            |Sobre nosotros
          a.c-app-footer__link(href="#")
            |Acerca de Zicomarket
          a.c-app-footer__link(href="#")
            |Planes y Precios
          a.c-app-footer__link(href="#")
            |Contáctanos

        div
          h4.c-app-footer__subtitle
            |Terminos y Privacidad
          a.c-app-footer__link(href="#")
            |Políticas de Admisión
          a.c-app-footer__link(href="#")
            |Privacidad y Protección de datos personales
          a.c-app-footer__link(href="#")
            |Terminos y condiciones
          a.c-app-footer__link(href="#")
            |libro de reclamaciones

        div
          h4.c-app-footer__subtitle
            |Atención al Cliente
          a.c-app-footer__link(href="#")
            |Ingresar
          a.c-app-footer__link(href="#")
            |Registrarse
          a.c-app-footer__link(href="#")
            |FAQ
      div.c-app-footer__wrapper-footer
        p.c-app-footer__paragraph &copy;2017 Zicomarket.com Todos los derechos reservados Desarrollado por Noveltie
</template>

<script>
  export default {}
</script>
