<template lang="pug">
  header.c-app-header(:class="{'is-searching': searching}")
    p.c-app-header__Logotipo
      |ZicoMarket.com

    button.c-app-header__menu(@click="change_menu")
      i.u-icon menu
      span Menú

    label.c-app-header__search(@click="visibleSearch")
      i.u-icon search
      span Buscar Ofertas
      input(
        type="Buscar Ofertas",
        v-model="textSearch",
        placeholder="Buscar Ofertas",
        @keyup.enter="seach_items")
    .c-app-header__search-section
      input(type="text",
      id="c-app-header__search-input",
      @keyup.enter="seach_items",
      placeholder="¿Qué ofertas estás buscando?",
      v-model="textSearch")
      button(type="button", @click="searching = false")
        i.u-icon close

    div.c-app-header__companies()
      router-link(:to="{ name: 'Companies' }")
        |Empresas

    div.c-app-header__user-profile
      user-profile()

    div.c-app-header__language
      //- span Idioma:
      multiselect(
        :allow-empty="false",
        :options="languagesAll",
        :searchable="false",
        :show-labels="false",
        label="name",
        placeholder="Seleccione",
        track-by="name",
        v-model="languageValue"
      )
</template>

<script>
  import Multiselect from 'vue-multiselect'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    components: {
      Multiselect
    },

    props: ['value'],

    data () {
      return {
        languageValue: false,
        searching: false,
        textSearch: ''
      }
    },

    created () {
      this.beginUserProfile()
      this.languageValue = this.selectedLanguage
    },

    watch: {
      languageValue (newVal) {
        this.selectLanguages(newVal)
      },
      getterTextSearch (newVal) {
        this.textSearch = newVal
      }
    },

    computed: {
      ...mapGetters({
        languagesAll: 'languagesAll',
        selectedLanguage: 'selectedLanguage',
        getterTextSearch: 'textSearch'
      })
    },

    methods: {
      ...mapActions([
        'selectLanguages',
        'beginUserProfile',
        'beginItemsSeach'
      ]),

      change_menu () {
        this.$emit('input', !this.value)
      },

      seach_items () {
        let vm = this
        vm.beginItemsSeach(vm.textSearch)
        vm.searching = false
        if (this.$route.name !== 'Offers') {
          setTimeout(() => {
            vm.$router.push({
              name: 'Offers',
              params: {
                langCode: vm.$route.params.langCode
              }
            })
          }, 500)
        }
      },

      visibleSearch () {
        this.searching = true
        window.$('#c-app-header__search-input').focus()
      }
    }
  }
</script>

<style lang="css">
</style>
