<template lang="pug">
  .c-app-nav
    .c-app-nav__image
      img(v-if="white", src="/defaults/images/isotipo_white.png")
      img(v-if="!white", src="/defaults/images/isotipo.png")
    .c-app-nav__action
      router-link.link(:to="{name: 'Blog', params: {langCode: $route.params.langCode}}")
        |Blog
      app-button(text="Ingresar",
                class="u-ml3",
                :modifierWidth="false",
                @click="$router.push({ name: 'Login' })")
</template>

<script>
  export default {
    props: {
      white: {
        type: Boolean,
        default: true
      }
    }
  }
</script>
