<template lang="pug">
  transition(name="chat-notifications")
    .c-chat-notifications(v-if="visible")
      .c-chat-notifications__bg(@click="$emit('close')")
      .c-chat-notifications__wrapper
        .c-chat-notifications__close(@click="$emit('close')")
          .u-icon close
        .c-chat-notifications__title
          h3 Notificaciones
        ul.c-chat-notifications__list
          li.c-chat-notifications__item
            p ¡Hola!,  tienes un nuevo mensaje.
</template>

<script>
  // import Multiselect from 'vue-multiselect'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    // components: {
    //   Multiselect
    // },

    props: {
      visible: {
        type: Boolean,
        default: false
      }
    },

    watch: {
      visible (newVal) {
        if (newVal) {
          window.$('body').css('overflow-y', 'hidden')
        } else {
          window.$('body').css('overflow-y', '')
        }
      }
    },

    computed: {
      ...mapGetters([
        'languagesAll',
        'regionsAll',
        'selectedLanguage',
        'selectedRegion'
      ])
    },

    methods: {
      ...mapActions([
        'selectLanguages',
        'regionSelection',
        'beginUserProfile',
        'beginItemsSeach'
      ])
    }
  }
</script>
