<template lang="pug">
  .c-chat-header
    button.c-chat-header__btn-menu(
      @click="$emit('input', !value)",
      type="button")
      i.u-icon menu

    .c-chat-header__title
      h2 Zicochat

    .none
    //- button.c-chat-header__btn-notification(
    //-   @click="$emit('open-notifications')",
    //-   type="button")
    //-   i.u-icon chat
    //-   span 1
</template>

<script>
  // import Multiselect from 'vue-multiselect'
  // import { mapActions, mapGetters } from 'vuex'
  import { mapActions } from 'vuex'

  export default {
    // components: {
    //   Multiselect
    // },

    props: ['value'],

    created () {
      this.beginUserProfile()
    },

    // computed: {
    //   ...mapGetters([
    //     'languagesAll',
    //     'regionsAll',
    //     'selectedLanguage',
    //     'selectedRegion'
    //   ])
    // },

    methods: {
      ...mapActions([
        'beginUserProfile'
      ])
    }
  }
</script>
