<template lang="pug">
  transition(name="chat-options")
    .c-chat-options(v-if="visible")
      .c-chat-options__bg(@click="$emit('close')")

      .c-chat-options__wrapper
        .c-chat-options__close(@click="$emit('close')")
          .u-icon close

        .c-chat-options__profile
          figure.c-chat-options__profile__figure
            img(:src="userProfile.image200px")
          h3.c-chat-options__profile__title
            span {{userProfile.firstName}}
            span {{userProfile.company.name}}

        ul.c-chat-options__list
          li.c-chat-options__item(
            @click="actions('representative')")
            i.u-icon chat
            span Mis Contactos
          //- li.c-chat-options__item(
          //-   @click="actions('my-company')")
          //-   i.u-icon star
          //-   span Mi Portafolio
          //- li.c-chat-options__item(
          //-   @click="actions('company')")
          //-   i.u-icon company
          //-   span La Contraparte
          //- li.c-chat-options__item(
          //-   @click="actions('notes')")
          //-   i.u-icon notebook
          //-   span Notas
          li.c-chat-options__item(
            @click="actions('chat')")
            i.u-icon chat
            span Zicochat
          li.c-chat-options__item(
            @click="$router.push({name: 'Companies'})")
            i.u-icon company
            span Ver Empresas
          li.c-chat-options__item(
            @click="$router.push({name: 'Offers'})")
            i.u-icon percentage-progress
            span Ver Ofertas
          //- li.c-chat-options__item(
          //-   @click="")
          //-   i.u-icon question
          //-   span Perfil
          li.c-chat-options__item(
            @click="sign_out")
            i.u-icon lock
            span Cerrar sesión
</template>

<script>
  // import Multiselect from 'vue-multiselect'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    // components: {
    //   Multiselect
    // },

    props: {
      visible: {
        type: Boolean,
        default: false
      }
    },

    watch: {
      visible (newVal) {
        if (newVal) {
          window.$('body').css('overflow-y', 'hidden')
        } else {
          window.$('body').css('overflow-y', '')
        }
      }
    },

    computed: {
      ...mapGetters([
        'userProfile'
      ])
    },

    methods: {
      ...mapActions([
        'removeToken'
      ]),

      actions (txt) {
        this.$emit('close')
        this.$emit('change-component', txt)
      },

      sign_out () {
        this.removeToken()
        this.$router.push({ name: 'Login' })
      }
    }
  }
</script>
