<template lang="pug">
  .c-company
    .c-company__img
      img(:src="in_data.image200px")
    .c-company__content
      h3.c-company__content__title
        |{{ in_data.name }}
      h4.c-company__content__subtitle
        |{{ in_data.sectorName }}

      h4.c-company__content__location
        i.u-icon company
        |{{ `${in_data.regionName}, ${in_data.countryName}` }}

      .c-company__content__button(@click="clickButton")
        span {{text}}
        i.u-icon.u-icon--arrow-right
        //- app-button(:text="text",
        //-           ,
        //-           :modifierWidth="true")
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    props: {
      in_data: {
        type: Object,
        required: true,
        default () {
          return {}
        }
      }
    },

    data () {
      return {
        text: '',
        texts: {
          ES: 'Ver Perfil',
          EN: 'View profile'
        }
      }
    },

    created () {
      this.changeText()
    },

    watch: {
      selectedLanguage (newVal) {
        this.changeText()
      }
    },

    methods: {
      clickButton () {
        this.$router.push({
          name: 'CompanyProfile',
          params: {
            companySlug: this.in_data.slug
          }
        })
      },

      changeText () {
        for (var prop in this.texts) {
          if (prop === this.selectedLanguage.code) {
            this.text = this.texts[prop]
            break
          }
        }
      }
    },

    computed: {
      ...mapGetters([
        'selectedLanguage'
      ])
    }
  }
</script>
