<template lang="pug">
  ul.c-item-list()
    .c-item-list__header(v-show="$route.name === 'Offers'")
      h4.c-item-list__title(v-show="!textSearch")
        i.u-icon.u-icon--check(v-show="!selectedSector.image")
        img(v-show="selectedSector.image", :src="selectedSector.image")
        span.u-fw500 {{selectedSector.name || 'Todas las ofertas'}}

      h4.c-item-list__title(v-show="textSearch")
        i.u-icon.u-icon--search
        span.u-fw500 Ofertas relacionados con {{textSearch}}

      .right
        .c-item-list__sector
          //- span Sector :
          multiselect(
            :allow-empty="false",
            :options="sectorsAll",
            :searchable="false",
            :show-labels="false",
            label="name",
            placeholder="Selecciona un sector",
            track-by="name",
            v-model="sectorValue"
          )
        .c-item-list__region
          //- span Sector :
          multiselect(
            :allow-empty="false",
            :options="regionsAll",
            :searchable="false",
            :show-labels="false",
            label="name",
            placeholder="Selecciona una región",
            track-by="name",
            v-model="regionsValue"
          )
        button.c-item-list__without-filters(
          v-show="selectedSector.name || selectedRegion.name || textSearch",
          @click="withoutFilters",
          type="button")
          |Mostrar Todos

    .c-item-list__content
      slot(name="item")
</template>

<script>
  import Multiselect from 'vue-multiselect'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    components: { Multiselect },

    data () {
      return {
        regionsValue: false,
        sectorValue: false
      }
    },

    watch: {
      sectorValue (newVal) {
        this.sectorSelection(newVal)
      },
      selectedSector (newVal) {
        if (!newVal.name) {
          this.sectorValue = false
        } else {
          this.sectorValue = newVal
        }
      },
      regionsValue (newVal) {
        this.regionSelection(newVal)
      },
      selectedRegion (newVal) {
        if (!newVal.name) {
          this.regionsValue = false
        } else {
          this.regionsValue = newVal
        }
      }
    },

    computed: {
      ...mapGetters([
        'selectedSector',
        'selectedRegion',
        'sectorsAll',
        'regionsAll',
        'textSearch'
      ])
    },

    methods: {
      ...mapActions([
        'sectorSelection',
        'regionSelection',
        'withoutFilters'
      ])
    }
  }
</script>
