<template lang="pug">
  .c-menu-aside(:class="{'is-displayed': displayed }")
    .c-menu-aside__bg(@click="above_close")
    .c-menu-aside__wrapper
      .c-menu-aside__close(@click="emit_close")
        i.u-icon.u-icon--close
      .c-menu-aside__figure(@click="go_home")
        img(src="/defaults/images/isotipo.png", alt="Zicomarket")
        figcaption {{ figcaption }}
      ul.c-menu-aside__list
        li.c-menu-aside__sector(
          @click="go_all_offer",
          :class="{ 'is-active': !selectedSector.name }")
          i.u-icon.u-icon--check
          span() {{ textAll }}
        li.c-menu-aside__sector(
          v-for="element in sectorsAll",
          @click="go_sector(element)",
          :class="{ 'is-active': selectedSector.id == element.id }")
          img(:src="element.image")
          span(:title="element.name") {{ element.shortName }}
      .c-menu-aside__footer
        div
          i.u-icon.u-color-facebook facebook
          i.u-icon.u-color-twitter twitter
        p {{ footerText }}
        p &copy;2017 Noveltie - Techline
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    props: {
      displayed: {
        type: Boolean,
        default: false
      },
      above: {
        type: Boolean,
        default: false
      }
    },

    data () {
      return {
        figcaption: '',
        figcaptions: [{
          id: 1,
          text: 'Plataforma Digital de Comercio y Negocios'
        }, {
          id: 2,
          text: 'Digital Platform of Commerce and Business'
        }],

        footerText: '',
        footer: [{
          id: 1,
          text: 'Encuentro de Negocios Publicaciones Sobre Zicosur'
        }, {
          id: 2,
          text: 'Business Meeting Publications About Zicosur'
        }],

        textAll: '',
        textAllArray: [
          'Todas las ofertas', 'All offers'
        ]
      }
    },

    created () {
      let vm = this
      let index = this.figcaptions.findIndex(element => vm.idSelectedLanguage === element.id)
      this.figcaption = this.figcaptions[index].text
      this.footerText = this.footer[index].text
      this.textAll = this.textAllArray[index]
    },

    watch: {
      idSelectedLanguage (newVal) {
        this.beginSectors()
        let index = this.figcaptions.findIndex(element => newVal === element.id)
        this.figcaption = this.figcaptions[index].text
        this.footerText = this.footer[index].text
        this.textAll = this.textAllArray[index]
      }
    },

    computed: {
      ...mapGetters([
        'idSelectedLanguage',
        'sectorsAll',
        'selectedSector'
      ])
    },

    methods: {
      ...mapActions([
        'sectorSelection', 'beginSectors', 'sectorSelectedDefault', 'withoutFilters'
      ]),
      go_sector (sctr) {
        this.sectorSelection(sctr)
        this.$router.push({ name: 'Offers', query: { sector: sctr.slug } })
        this.above_close()
      },

      emit_close () {
        this.$emit('close')
      },

      above_close () {
        if (this.above) {
          this.emit_close()
        }
      },

      go_home () {
        this.sectorSelectedDefault()
        this.$router.push({name: 'Offers'})
      },

      go_all_offer () {
        this.withoutFilters()
        this.$router.push({name: 'Offers'})
        this.above_close()
      }
    }
  }
</script>

<style lang="css">
</style>
