<template lang="pug">
  .c-not-found
    .c-not-found__wrapper.o-wrapper
      h2.c-not-found__title LO SENTIMOS MUCHO :(
      //- .c-not-found__isotipo
      //-   img(src="https://res.cloudinary.com/elpostulante/image/upload/c_scale,h_100/company/isotipo.png")
      p.c-not-found__paragraph
        span La página solicitada no existe, nuestro equipo de ingenieros está trabajando duro para que esto no vuelva a ocurrir.
      app-button(text="Ir al Inicio", @click="go_home", :modifier-width="true")
</template>

<script>
  export default {
    name: 'NotFound',
    methods: {
      go_home () {
        this.$router.push({ name: 'Home' })
      }
    }
  }
</script>
