<template lang="pug">
  router-link(class="c-notice", :to="{name: 'NoticeProfile', params: {langCode: this.selectedLanguageJson.code, noticeSlug: this.notice.slug}}")
    .c-notice__image
      .c-notice__date
        span.day {{notice.day}}
        span.month {{notice.month}}
        span.year {{notice.year}}
      img(:src="notice.imageUrl")
    .c-notice__title
      h3 {{notice.title}}
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    data () {
      return {
        link: {
          name: 'NoticeProfile',
          params: {
            langCode: 'es',
            noticeSlug: this.notice.slug
          }
        }
      }
    },

    props: {
      notice: {
        type: Object,
        default () {
          return {
            imageUrl200px: 'http://elcerebrohabla.com/wp-content/uploads/2012/02/gente-normal.jpg',
            day: '06',
            month: 'Junio',
            year: '2017',
            title: 'Estrategias para seducir al mejor talento',
            slug: 'notice-default'
          }
        }
      }
    },

    computed: {
      ...mapGetters([
        'selectedLanguageJson'
      ])
    }
  }
</script>
