<template lang="pug">
  router-link(class="c-offer", :to="{ name: 'OfferProfile', params: { offerSlug: in_data.slug }}")
    .c-offer__img
      img(:src="in_data.image200px")
    div.c-offer__content
      h3.c-offer__content__title
        |{{ in_data.name }}

        span.company
          |{{ in_data.companyName }} en&#32
          span.country {{ in_data.regionName}} - {{ in_data.countryName }}

      .c-offer__content__date
        p {{ in_data.datePublish }}
    //- .u-flex.u-items-center.u-none-mw850
    //-   update-button(text="Editar Oferta", :definedWidth="true")
</template>

<script>
  export default {
    props: {
      in_data: {
        type: Object,
        required: true,
        default () {
          return {}
        }
      }
    }
  }
</script>
