<template lang="pug">
  li.c-offer-info-update__img
    img(:src="image.image550px")
    .c-offer-info-update__img__button
      update-button(:definedWidth="true",
                    :loading="loading",
                    @click="deleteImage",
                    :text="buttons.photo[selectedLanguage.code]")
</template>

<script>
  import axios from 'axios'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    data () {
      return {
        loading: false,
        buttons: {
          photo: {
            ES: 'Eliminar foto',
            EN: 'Delete photo'
          }
        }
      }
    },

    props: {
      image: {
        type: Object,
        default () {
          return {}
        }
      }
    },

    methods: {
      ...mapActions([
        'beginSpecificItem'
      ]),

      deleteImage () {
        this.loading = true
        axios({
          method: 'delete',
          url: `${window.API_URL}/delete-image`,
          data: { index: this.image.id },
          headers: {
            'Authorization': 'Bearer ' + this.accessToken,
            'Content-Type': 'application/json',
            'language': this.selectedLanguage.code
          }
        })
        .then(() => {
          this.loading = false
          this.beginSpecificItem(this.$route.params.offerSlug)
          window.toastr.success('Imagen fue eliminada exitosamente', 'ZICOMARKET')
        })
        .catch(() => {
          window.toastr.warning('Lo sentimos ocurrió un problema al eliminar la imagen', 'ZICOMARKET')
          this.loading = false
        })
      }
    },

    computed: {
      ...mapGetters([
        'selectedLanguage',
        'accessToken'
      ])
    }
  }
</script>
