<template lang="pug">
  .c-offer-info
    .c-offer-info__content
      .c-offer-info__title
        h2 {{ item.name }}
        p
          |{{ item.sectorName }}
      .u-pb3.u-flex(v-if="imagesInModal")
        app-button(text="Ver fotos",
          style="margin:0",
          :modifierWidth="true",
          @click="swiperBoolean=true")
        app-button(
          @click="$emit('change_component', 'back')"
          style="margin: 0 0 0 0.3rem",
          :modifierWidth="true",
          text="Ver Portafolio")
      tabs-compact(v-model="tabs.description",
                    :title="textLanguages.description[selectedLanguage.code]",
                    :description="item.description"
                  )
      tabs-compact(v-model="tabs.applications",
                    :title="textLanguages.applications[selectedLanguage.code]",
                    :description="item.applications"
                  )
      tabs-compact(v-model="tabs.references",
                    :title="textLanguages.references[selectedLanguage.code]",
                    :description="item.references"
                  )
      tabs-compact(v-model="tabs.params",
                    :title="textLanguages.params[selectedLanguage.code]",
                    :description="item.params"
                  )
      tabs-compact(v-model="tabs.attributes",
                    :title="textLanguages.attributes[selectedLanguage.code]",
                    :description="item.attributes"
                  )
      tabs-compact(v-model="tabs.sale",
                    :title="textLanguages.sale[selectedLanguage.code]",
                    :description="item.sale"
                  )
      tabs-compact(v-model="tabs.coin",
                    :title="textLanguages.coin[selectedLanguage.code]",
                    :description="item.coin"
                  )
      tabs-compact(v-model="tabs.price",
                    :title="textLanguages.price[selectedLanguage.code]",
                    :description="item.price"
                  )

    ul.c-offer-info__images(v-if="!imagesInModal")
      li.c-offer-info__img(v-for="(element, index) in item.image550px",
                          :key="`offer-info__images${index}`")
        img(:src="element.image550px")

    .c-offer-info__imagesModal(v-show="swiperBoolean")
      div.u-color-white.u-fz-h1.u-absolute(
        @click="swiperBoolean=false",
        style="top:3%;right:3%;z-index:99;cursor:pointer")
        i.u-icon close
      .c-offer-info__imagesModal__bg
      .c-offer-info__imagesModal__content.swiper-container.u-width-100.swiper-images
        .swiper-wrapper
          .swiper-slide(
            v-for="(element, index) in item.image550px",
            :key="`offer-info__imagesModal${index}`")
            img(:src="element.image550px",
              class="u-dspl-block",
              style="margin:0 auto")
        .c-btn-swiper.c-btn-swiper--prev
          i.u-icon.u-icon--arrow-left
        .c-btn-swiper.c-btn-swiper--next
          i.u-icon.u-icon--arrow-right
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    props: {
      imagesInModal: {
        type: Boolean,
        default: false
      },
      item: {
        type: Object,
        default () {
          return {
            applications: '',
            attributes: '',
            coin: '',
            description: '',
            id: 4,
            name: '',
            params: '',
            price: '',
            references: '',
            sale: '',
            sector: 2,
            company: {
              id: 2,
              name: '',
              image_200px: '',
              slug: ''
            },
            image_550px: []
          }
        }
      }
    },

    data () {
      return {
        swiperBoolean: false,
        swiperConsole: false,
        swiperOptions: {
          // autoplay: 5000,
          speed: 1000,
          // loop: true,
          slidesPerView: 1,
          // paginationClickable: true,
          nextButton: '.c-btn-swiper--next',
          prevButton: '.c-btn-swiper--prev'
          // pagination: '.c-pagination-swiper.testimonials'
        },

        sector: '',
        tabs: {
          description: true,
          applications: false,
          references: false,
          params: false,
          attributes: false,
          sale: false,
          coin: false,
          price: false
        },
        textLanguages: {
          description: {
            ES: 'Ver caracteristicas técnicas',
            EN: 'View technical characteristics'
          },
          applications: {
            ES: 'Uso y/o aplicaciones',
            EN: 'Use and / or applications'
          },
          references: {
            ES: 'Otros antecedentes',
            EN: 'Other background'
          },
          params: {
            ES: 'Parametros y/o Variables destacables',
            EN: 'Parameters and / or Significant Variables'
          },
          attributes: {
            ES: 'Atributos de la Oferta',
            EN: 'Attributes of the Offer'
          },
          sale: {
            ES: 'Forma de venta',
            EN: 'Form of sale'
          },
          coin: {
            ES: 'Moneda',
            EN: 'Coin'
          },
          price: {
            ES: 'Precios del Producto',
            EN: 'Product Prices'
          }
        }
      }
    },

    watch: {
      item (newVal) {
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-images', this.swiperOptions)
          if (this.swiperConsole) { console.log(swiper) }
        }, 2000)
      }
    },

    computed: {
      ...mapGetters([
        'selectedLanguage'
      ])
    }
  }
</script>
