<template lang="pug">
  .c-offer-info-update
    .c-offer-info-update__content
      .c-offer-info-update__title(v-if="!createdOffer")
        //- h2 {{ item.name }}
        //- p {{ item.sector }}
        .u-pb2
          input.u-border-gray.u-bg-transparent.u-width-100(
            type="text",
            v-model="newItem.name",
            :placeholder="placeholders.name[selectedLanguageJson.code]")
        multiselect(
          :allow-empty="false",
          :options="sectorsAll",
          :searchable="false",
          :show-labels="false",
          label="name",
          :placeholder="placeholders.category[selectedLanguageJson.code]",
          track-by="name",
          v-model="newItem.category"
        )
        .u-pt2
          update-button(:definedWidth="true",
                        :loading="processesOfTabs.name",
                        @click="updateInfoName",
                        :text="buttons.save[selectedLanguageJson.code]")

      .c-offer-info-update__title(v-if="createdOffer")
        h2.u-mt0.u-mb0.u-fz-h1.u-pb3.u-fw400
          |{{ title[selectedLanguageJson.code ]}}
        .u-pb2
          input.u-border-gray.u-bg-transparent.u-width-100(
            type="text",
            v-model="newItem.name",
            :placeholder="placeholders.name[selectedLanguageJson.code]")
        multiselect(
          :allow-empty="false",
          :options="sectorsAll",
          :searchable="false",
          :show-labels="false",
          label="name",
          :placeholder="placeholders.category[selectedLanguageJson.code]",
          track-by="name",
          v-model="newItem.category"
        )
        .u-pt2
          update-button(:definedWidth="true",
                        :loading="loadingCreatedOffer",
                        @click="createOffer",
                        :text="buttons.save[selectedLanguageJson.code]")

      tabs-compact-update(v-if="!createdOffer",
        v-model="tabs.description",
        name-key="description",
        :title="textLanguages.description[selectedLanguageJson.code]",
        :description="item.description",
        :func="updateInfo",
        :in-process="processesOfTabs.description",
                  )
      tabs-compact-update(v-if="!createdOffer",
        v-model="tabs.applications",
        name-key="applications",
        :title="textLanguages.applications[selectedLanguageJson.code]",
        :description="item.applications",
        :func="updateInfo",
        :in-process="processesOfTabs.applications",
                  )
      tabs-compact-update(v-if="!createdOffer",
        v-model="tabs.references",
        name-key="references",
        :title="textLanguages.references[selectedLanguageJson.code]",
        :description="item.references",
        :func="updateInfo",
        :in-process="processesOfTabs.references",
                  )
      tabs-compact-update(v-if="!createdOffer",
        v-model="tabs.params",
        name-key="params",
        :title="textLanguages.params[selectedLanguageJson.code]",
        :description="item.params",
        :func="updateInfo",
        :in-process="processesOfTabs.params",
                  )
      tabs-compact-update(v-if="!createdOffer",
        v-model="tabs.attributes",
        name-key="attributes",
        :title="textLanguages.attributes[selectedLanguageJson.code]",
        :description="item.attributes",
        :func="updateInfo",
        :in-process="processesOfTabs.attributes",
                  )
      tabs-compact-update(v-if="!createdOffer",
        v-model="tabs.sale",
        name-key="sale",
        :title="textLanguages.sale[selectedLanguageJson.code]",
        :description="item.sale",
        :func="updateInfo",
        :in-process="processesOfTabs.sale",
                  )
      tabs-compact-update(v-if="!createdOffer",
        v-model="tabs.coin",
        name-key="coin",
        :title="textLanguages.coin[selectedLanguageJson.code]",
        :description="item.coin",
        :func="updateInfo",
        :in-process="processesOfTabs.coin",
                  )
      tabs-compact-update(v-if="!createdOffer",
        v-model="tabs.price",
        name-key="price",
        :title="textLanguages.price[selectedLanguageJson.code]",
        :description="item.price",
        :func="updateInfo",
        :in-process="processesOfTabs.price",
                  )


    ul.c-offer-info-update__images(v-if="!imagesInModal && !createdOffer")
      label.u-dspl-inline-block(@click="clickInputFile")
        update-button(
          :definedWidth="true",
          :loading="addedNewPhoto",
          :text="buttons.photo[selectedLanguageJson.code]")
      input(type="file",
            class="u-dspl-none"
            id="attach__image",
            v-on:change="onFileChange"
            accept="image/*")
      images-delete(v-for="(img, index) in item.image550px",
        :key="`asdasd${index}`",
        :image="img")
</template>

<script>
  import axios from 'axios'
  import Multiselect from 'vue-multiselect'
  import ImagesDelete from './OfferInfoUpdateImage'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    data () {
      return {
        sector: '',
        tabs: {
          description: true,
          applications: false,
          references: false,
          params: false,
          attributes: false,
          sale: false,
          coin: false,
          price: false
        },

        processesOfTabs: {
          name: false, // name & sectorId
          description: true,
          applications: false,
          references: false,
          params: false,
          attributes: false,
          sale: false,
          coin: false,
          price: false
        },

        addedNewPhoto: false,
        newPhoto: {
          entity: 'items',
          entityId: '0',
          fileType: '',
          image: ''
        },

        loadingCreatedOffer: false,
        newItem: {
          name: '',
          category: false
        },

        textLanguages: {
          description: {
            ES: 'Caracteristicas técnicas',
            EN: 'Technical characteristics'
          },
          applications: {
            ES: 'Uso y/o aplicaciones',
            EN: 'Use and / or applications'
          },
          references: {
            ES: 'Otros antecedentes',
            EN: 'Other background'
          },
          params: {
            ES: 'Parametros y/o Variables destacables',
            EN: 'Parameters and / or Significant Variables'
          },
          attributes: {
            ES: 'Atributos de la Oferta',
            EN: 'Attributes of the Offer'
          },
          sale: {
            ES: 'Forma de venta',
            EN: 'Form of sale'
          },
          coin: {
            ES: 'Moneda',
            EN: 'Coin'
          },
          price: {
            ES: 'Precios del Producto',
            EN: 'Product Prices'
          }
        },
        buttons: {
          save: {
            ES: 'Guardar',
            EN: 'Save'
          },
          photo: {
            ES: 'Nueva foto',
            EN: 'New photo'
          }
        },
        title: {
          ES: 'Crear Oferta',
          EN: 'Create Offer'
        },
        placeholders: {
          name: {
            ES: 'Nombre de la oferta',
            EN: 'Name of offer'
          },
          category: {
            ES: 'Rubro de la oferta',
            EN: 'Offer category'
          }
        }
      }
    },

    components: {
      ImagesDelete,
      Multiselect
    },

    props: {
      createdOffer: {
        type: Boolean,
        default: false
      },
      imagesInModal: {
        type: Boolean,
        default: false
      },
      item: {
        type: Object,
        default () {
          return {
            applications: '',
            attributes: '',
            coin: '',
            description: '',
            id: 4,
            name: '',
            params: '',
            price: '',
            references: '',
            sale: '',
            sector: 2,
            company: {
              id: 2,
              name: '',
              image_200px: '',
              slug: ''
            },
            image_550px: []
          }
        }
      }
    },

    watch: {
      'newPhoto.image' () {
        this.submitNewPhoto()
      },

      currentItem (newVal) {
        this.newItem.name = newVal.name
        const record = this.sectorsAll.find((ele) => {
          return ele.id === newVal.sectorId
        })
        if (record) {
          this.newItem.category = record
        }
      }
    },

    mounted () {
      if (this.$route.name !== 'CreateOffer') {
        let vm = this
        this.newItem.name = this.currentItem.name
        const record = this.sectorsAll.find((ele) => {
          return `${ele.id}` === `${vm.currentItem.sectorId}`
        })
        if (record) {
          vm.newItem.category = record
        }
      }
    },

    methods: {
      ...mapActions([
        'addNewPhoto'
      ]),

      createOffer () {
        if (this.newItem.name) {
          if (this.newItem.category.id) {
            this.postCreateOffer()
          } else {
            window.toastr.warning('Seleccione el rubro de la oferta', 'ZICOMARKET')
          }
        } else {
          window.toastr.warning('Introdusca un nombre para crear una nueva oferta', 'ZICOMARKET')
        }
      },

      postCreateOffer () {
        let jsonToSubmit = {
          name: this.newItem.name,
          sector: this.newItem.category.id
        }
        this.loadingCreatedOffer = true
        axios({
          method: 'post',
          url: `${window.API_URL}/items`,
          headers: {
            'Authorization': 'Bearer ' + this.accessToken,
            'Content-Type': 'application/json',
            'language': this.selectedLanguageJson.code
          },
          data: jsonToSubmit
        })
        .then(({data}) => {
          this.loadingCreatedOffer = false
          this.$router.push({
            name: 'OfferProfile',
            params: {
              offerSlug: data.data.slug
            }
          })
          window.toastr.success('Oferta creada exitosamente', 'ZICOMARKET')
        })
        .catch(() => {
          this.loadingCreatedOffer = false
          window.toastr.warning('Lo sentimos, ocurrió un error al crear una nueva oferta', 'ZICOMARKET')
        })
      },

      updateInfoName () {
        this.processesOfTabs['name'] = true
        axios({
          method: 'put',
          url: `${window.API_URL}/items`,
          headers: {
            'Authorization': 'Bearer ' + this.accessToken,
            'Content-Type': 'application/json',
            'language': this.selectedLanguageJson.code
          },
          data: {
            nameCamp: 'name',
            descriptionCamp: this.newItem.name,
            itemId: this.currentItem.id,
            sectorId: this.newItem.category.id
          }
        })
        .then(() => {
          this.processesOfTabs['name'] = false
          window.toastr.success('Edición del nombre y el sector de la oferta completado exitosamente', 'ZICOMARKET')
        })
        .catch(() => {
          window.toastr.warning('Lo sentimos, ocurrió un editar el nombre y el sector de la oferta', 'ZICOMARKET')
          this.processesOfTabs['name'] = false
        })
      },
      updateInfo (key, description) {
        this.processesOfTabs[key] = true
        axios({
          method: 'put',
          url: `${window.API_URL}/items`,
          headers: {
            'Authorization': 'Bearer ' + this.accessToken,
            'Content-Type': 'application/json',
            'language': this.selectedLanguageJson.code
          },
          data: {
            nameCamp: key,
            descriptionCamp: description,
            itemId: this.currentItem.id
          }
        })
        .then(() => {
          this.processesOfTabs[key] = false
          window.toastr.success(`Actualización de "${this.textLanguages[key][this.selectedLanguageJson.code]}" completado exitosamente`, 'ZICOMARKET')
        })
        .catch(() => {
          window.toastr.success(`Ocurrió un error al actualizar "${this.textLanguages[key][this.selectedLanguageJson.code]}"`, 'ZICOMARKET')
          this.processesOfTabs[key] = false
        })
      },

      submitNewPhoto () {
        this.newPhoto.entityId = this.currentItem.id
        this.addedNewPhoto = true
        axios({
          method: 'post',
          url: `${window.API_URL}/upload-image`,
          data: this.newPhoto,
          headers: {
            'Authorization': 'Bearer ' + this.accessToken,
            'Content-Type': 'application/json',
            'language': this.selectedLanguageJson.code
          }
        })
        .then(({data}) => {
          this.addedNewPhoto = false
          this.addNewPhoto(data.data)
          window.toastr.success('Nueva imagen añadida exitosamente', 'ZICOMARKET')
        })
        .catch(() => {
          window.toastr.warning('Lo sentimos ocurrió un error al añidar una nueva imagen', 'ZICOMARKET')
          this.addedNewPhoto = false
        })
      },

      clickInputFile () {
        if (!this.addedNewPhoto) {
          window.$('#attach__image').click()
        }
      },

      onFileChange (e) {
        let files = e.target.files || e.dataTransfer.files
        if (!files.length) { return false }
        files = files[0]

        let tmpFileType = typeFile(files.type)
        if (tmpFileType === 'image') {
          // this.fileType = tmpFileType
          this.saveType(files.name)
          this.createImage(files)
        } else {
          window.toastr.warning('Lo sentimos solo se permiten subir imagenes', 'ZICOMARKET')
          // window.alert('Solo se permiten Imagenes, Muchas Gracias!')
        }

        function typeFile (varType) {
          let posicion = varType.lastIndexOf('/')
          let whatType = varType.substr(0, posicion)

          if (whatType === 'image') {
            return whatType
          } else {
            return 'unknown'
          }
        }
      },
      saveType (name) {
        let posicion = name.lastIndexOf('.')
        let ancho = name.length
        this.newPhoto.fileType = name.substr(posicion + 1, ancho)
      },
      createImage (file) {
        let reader = new window.FileReader()
        let vm = this

        reader.onload = function (e) {
          vm.newPhoto.image = e.target.result
        }
        reader.readAsDataURL(file)
      }
    },

    computed: {
      ...mapGetters([
        'selectedLanguageJson',
        'currentItem',
        'accessToken',
        'sectorsAll'
      ])
    }
  }
</script>
