<template lang="pug">
  .c-process-percentage
    .c-process-percentage__percentage
      .data
        h3 {{percentage}}%
        p COMPLETO
      #pbcontainer

    .c-process-percentage__title
      h3(v-show="title")
        |{{ title }}

    .c-process-percentage__list
      slot(v-for="ele in elements", :name="`element${ele}`")
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        default: ''
      },
      elements: {
        type: Number,
        default: 2
      },
      percentage: {
        type: Number,
        default: 0
      }
    },

    watch: {
      percentage (newVal) {
        window.pbContainer.animate(newVal / 100)
      }
    },

    mounted () {
      /* eslint-disable */
      window.pbContainer = new window.pb.Circle('#pbcontainer', {
        strokeWidth: 8,
        easing: 'easeInOut',
        duration: 1400,
        color: '#00B63E',
        trailColor: '#ddd',
        trailWidth: 8,
        svgStyle: null
      })

      window.pbContainer.animate(0)
    }
  }
</script>
