<template lang="pug">
  .c-profile-link
    h3.c-profile-link__content(style="font-size:0.8rem")
      router-link.c-profile-link__link(:to="to")
        |Todas las {{to.name === 'Offers' ? 'ofertas' : 'empresas'}}
      .u-pl1
      span.c-profile-link__company-name
        |/ {{text}}
</template>

<script>
  export default {
    props: {
      to: {
        type: Object,
        default () { return {} }
      },
      text: {
        type: String,
        default: 'Polos de algodón'
      }
    }
  }
</script>
