<template lang="pug">
  .c-sections-wrapper
    chat-header(
      v-if="$route.name === 'ZicoChat'",
      v-show="mobile",
      v-model="menu",
      @open-notifications="open_notifications")
    .c-sections-wrapper__header(
      v-show="!mobile || $route.name !== 'ZicoChat'")
      app-header(v-model="menu")

    .c-sections-wrapper__wrapper
      .c-sections-wrapper__aside
        menu-aside(
          v-if="$route.name !== 'ZicoChat'",
          :displayed="menu",
          :above="above",
          @close="close_menu")

        chat-options(
          v-if="$route.name === 'ZicoChat'",
          :visible="menu",
          @close="close_menu",
          @change-component="change_component")
        chat-notifications(
          v-if="$route.name === 'ZicoChat'",
          :visible="notificationsVisible",
          @close="close_notifications")

      .c-sections-wrapper__content

        .c-sections-wrapper__elements
          slot(v-for="ele in elements", :name="`element${ele}`")
</template>

<script>
  import ChatHeader from './ChatHeader'
  import ChatOptions from './ChatOptions'
  import ChatNotifications from './ChatNotifications'

  export default {
    components: { ChatHeader, ChatOptions, ChatNotifications },
    props: {
      elements: {
        type: Number,
        default: 2
      },
      menuDisplayed: {
        type: Boolean,
        default: false
      },
      above: {
        type: Boolean,
        default: true
      },
      initialHeight: {
        type: Boolean,
        default: false
      }
    },

    data () {
      return {
        menu: false,
        notificationsVisible: false,
        mobile: window.innerWidth < 775
      }
    },

    methods: {
      close_menu () {
        this.menu = false
      },
      close_notifications () {
        this.notificationsVisible = false
      },
      open_notifications () {
        this.notificationsVisible = true
      },
      change_component (tmp) {
        this.$emit('change-component', tmp)
      }
    }
  }
</script>
