<template lang="pug">
  .c-tabs-compact-update(:class="{ 'is-extended': value }")
    h2.c-tabs-compact-update__title(@click="change_extend")
      span {{ title }}
      i.u-icon.u-icon--arrow-down.c-tabs-compact-update__icon
    .c-tabs-compact-update__description
      //- textarea(v-model="dataDescription")
      vue-editor(:id="`company-editor-${nameKey}`",
        :editor-toolbar="customToolbar",
        v-model="dataDescription")

      update-button(
                    :definedWidth="true",
                    :loading="loadingButton",
                    @click="clickUpdate",
                    class="u-mt2",
                    :text="buttons.save[selectedLanguageJson.code]")
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    props: {
      description: { type: String, default: '' },
      func: { type: Function, default () { return false } },
      inProcess: { type: Boolean, required: true },
      nameKey: { type: [String, Boolean], default: false },
      title: { type: String, default: '' },
      value: { type: Boolean, required: true }
    },

    data () {
      return {
        loadingButton: false,
        dataDescription: '',

        customToolbar: [
          ['bold', 'italic', 'underline'],
          [ { 'list': 'ordered' }, { 'list': 'bullet' } ],
          ['clean']
        ],

        buttons: {
          save: {
            ES: 'Guardar',
            EN: 'Save'
          }
        }
      }
    },

    created () {
      this.dataDescription = this.description
    },

    watch: {
      description (newVal) {
        this.dataDescription = newVal
      },

      inProcess (newVal) {
        if (typeof newVal === 'boolean') {
          this.loadingButton = newVal
        }
      }
    },

    methods: {
      change_extend () {
        this.$emit('input', !this.value)
      },

      clickUpdate () {
        this.loadingButton = !this.loadingButton
        this.func(this.nameKey, this.dataDescription)
      }
    },

    computed: {
      ...mapGetters([
        'selectedLanguageJson'
      ])
    }
  }
</script>
