<template lang="pug">
  .c-user-profile
    .c-user-profile__front
      figure.c-user-profile__front__image
        img(:src="userProfile.image200px")
      span.c-user-profile__front__title
        span {{ userProfile.firstName }}
        i.u-icon.u-icon--arrow-down
    ul.c-user-profile__config
      //- p Configuración
      p {{ userProfile.company.name }}
      //- li.u-flex.u-align-center
      //-   router-link(:to="{ name: 'AdminProfile' }")
      //-     i.u-icon user
      //-     span Editar Cuenta
      li(v-if="`${userProfile.role}` === '1'")
        router-link(:to="{ name: 'CreateNews' }")
          i.u-icon terms
          span Crear Noticia
      li()
        router-link(:to="{ name: 'CompanyProfile', params: { companySlug: userProfile.company.slug } }")
          i.u-icon star
          span Mi Empresa
      li()
        router-link(:to="{ name: 'EditCompany', params: { companySlug: userProfile.company.slug } }")
          i.u-icon company
          span Editar Empresa
      li()
        router-link(:to="{ name: 'UpdateProfile' }")
          i.u-icon notebook
          span Editar Perfil
      li(v-if="userProfile.conversations")
        router-link(:to="{ name: 'ZicoChat' }")
          i.u-icon chat
          span Negociaciones
      li()
        router-link(:to="{ name: 'CreateOffer' }")
          i.u-icon percentage-progress
          span Publicar Oferta
      li(@click="sign_out")
        i.u-icon lock
        span Cerrar Sesión
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    computed: {
      ...mapGetters([
        'userProfile'
      ])
    },

    methods: {
      ...mapActions([
        'removeToken'
      ]),
      sign_out () {
        this.removeToken()
        this.$router.push({ name: 'Login' })
      }
    }
  }
</script>
