<template lang="pug">
  transition(name="c-user-modal")
    .c-user-modal
      .c-user-modal__bg
      .c-user-modal__content
        .c-user-modal__close(@click="$emit('close')")
          i.u-icon close
        .c-user-modal__title
          h2.u-fz-h3
            span.u-color-secondary.u-fw500 {{ userProfile.firstName }},&#32
            |¿Con quién deseas comunicarte?
        ul.c-user-modal__users
          li.u-items-center.is-connect(
            v-for="(element, index) in currentItem.users",
            :key="`user-modal${index}`",
            @click="to_zicochat(element)")
            figure.c-user-modal__users__img
              img(:src="element.image200px")
            .u-flex.u-flex-column.u-justify-center
              h4.u-mt0.u-mb0 {{ element.firstName }} {{ element.lastName }}
              p.state.u-fz-075rem.u-mt0.u-mb0 {{ element.stall }}
          //- li.u-items-center.is-connect.is-offline
            figure.c-user-modal__users__img
              img(src="/defaults/images/user.png")
            .u-flex.u-flex-column.u-justify-center
              h4.u-mt0.u-mb0 Luis Alcazar
              p.state.u-fz-075rem.u-mt0.u-mb0 Gerente General
        //- .c-user-modal__button
          app-button(text="Iniciar Negociación")
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    methods: {
      ...mapActions(['referenceCompany']),

      to_zicochat (element) {
        this.$emit('close')
        this.referenceCompany(element.id)
        this.$router.push({ name: 'ZicoChat' })
      }
    },

    computed: {
      ...mapGetters([
        'currentItem',
        'userProfile'
      ])
    }
  }
</script>
