<template lang="pug">
  div.RecoverScreen
    .c-login
      form.c-login__form(@submit.prevent="recoverPassword")
        figure.c-login__form__figure
          img(src="/defaults/images/isotipo.png")
          figcaption Recuperar contraseña
        .c-login__form__content
          input(v-model="serialIdentity",
                placeholder="Documento de Identidad",
                type="text")
          app-button(
            class="u-mt2",
            text="Recuperar",
            type="submit")

        p.c-login__form__footer
          span &copy; 2017 Zicomarket
          span Todos los derechos reservados
          span Desarrollado por Noveltie.
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'RecoverScreen',
    data () {
      return {
        serialIdentity: '',
        email: ''
      }
    },

    methods: {
      recoverPassword () {
        if (this.serialIdentity.length > 0) {
          if (this.serialIdentity.length > 6) {
            this.submitRecover()
          } else {
            window.toastr.warning('El documento de identidad no es valido', 'ZICOCMARKET')
          }
        } else {
          window.toastr.warning('Introdusca el nuemero del documento de identidad', 'ZICOCMARKET')
        }
      },

      submitRecover () {
        axios({
          method: 'post',
          url: `${window.API_URL}/recover-password`,
          headers: {
            'Content-Type': 'application/json'
          },
          data: {
            serialIdentity: this.serialIdentity
          }
        })
        .then(({ data }) => {
          this.email = data.data.email
          window.toastr.success(`Se envio la nueva contraseña al correo: ${data.data.email}`, 'ZICOCMARKET')
        })
        .catch(({ response }) => {
          if (response) {
            window.toastr.error('Lo sentimos ocurrió un error al recuperar la contraseña', 'ZICOCMARKET')
          } else {
            if (response.status === 404) {
              window.toastr.error('No existe este numero de documento de identidad', 'ZICOCMARKET')
            } else if (response.status === 403) {
              window.toastr.error('Este usuario esta deshabilitado, escribenos a direcom@zicomarket.com para mas información', 'ZICOCMARKET')
            }
          }
        })
      }
    }
  }
</script>
