<template lang="pug">
  .profile
    .c-data-editing.c-data-editing--max-width.u-p4
      process-percentage(
        title="Con tu perfil Completo:",
        :elements="3",
        :percentage="Math.round(percentage)")
        p(slot="element1")
          |Tendrás mayor visibilidady mejores oportunidades de negocio.
        p(slot="element2")
          |Le darás mayor confianza a tus potenciales socios comerciales.
        p(slot="element3")
          |Tendrás un portafolio actualizado para negociar.

      .c-data-editing__row.c-data-editing__hr-container
        p.u-mt0.u-mb0
          |Lenguaje
        div
          select.u-dspl-block.u-mt2(v-model="selectedLangCode")
            option(v-for="(element, index) in languagesAll",
                  :key="`languages${index}`",
                  :value="element.code")
              |{{element.name}}

      .c-data-editing__row.c-data-editing__hr-container.u-mt3
        p.u-mt0.u-mb0
          |Documento
        div
          select.u-dspl-block.u-mb2(v-model="dataToSave.documentId")
            option(:value="1") DNI
            option(:value="2") RUT

          input.c-data-editing__input(
            placeholder="Documento de identidad",
            v-model="dataToSave.serialIdentity", type="text")

      .c-data-editing__hr-container.u-mt4
        .c-data-editing__row(style="align-items:flex-start")
          label(:style="{cursor:profilePhoto.loading?'wait':'pointer'}")
            p.u-mt0.u-mb2()
              |Foto de perfil
            div.u-flex.u-justify-center.u-border-gray.u-py4(
              style="cursor:pointer",
              v-show="!profilePhoto.exists")
              i.u-flex.u-justify-center.u-items-center.u-icon(
                style="font-size:7px") plus
              p.u-mt0.u-mb0 subir foto

            div.u-flex.u-justify-center.u-items-center.u-border-gray(
              :class="{'is-validate':validationData.profilePhoto}",
              style="height:9rem;overflow:hidden",
              v-show="profilePhoto.exists")
              img(:src="profilePhoto.src", class="u-height-100")

            div.u-mt2.u-text-center(style="font-size:13px")
              p.u-mt0.u-mb0 Minimo: 300 x 180px
              p.u-mt0.u-mb0 JPG, PNG O GIF

            input(type="file",
                  class="u-dspl-none",
                  id="attach__image",
                  v-on:change="onFileChange",
                  v-if="!profilePhoto.loading",
                  accept="image/*")
          ul
            li(:class="{'is-validate':validationData.firstName}")
              label.u-dspl-block.u-pb2 Nombres
              input.c-data-editing__input(
                v-model="dataToSave.firstName", type="text")
            li.u-mt3(:class="{'is-validate':validationData.lastName}")
              label.u-dspl-block.u-pb2 Apellidos
              input.c-data-editing__input(
                v-model="dataToSave.lastName", type="text")
            li.u-mt3()
              label.u-dspl-block.u-pb2 Sexo
              select.u-dspl-block.u-mb2(v-model="dataToSave.gender")
                option(:value="0") Hombre
                option(:value="1") Mujer
                option(:value="2") Otro

      .c-data-editing__title
        h3 DESCRIPCIÓN DEL PERFIL

      .c-data-editing__row.u-mt4
        p.u-mt0.u-mb0
          |Cuéntanos sobre ti:
        div.u-flex.u-items-center(
          :class="{'is-validate':validationData.description}")
          textarea.c-data-editing__input(
            placeholder="Describe tu perfil"
            v-model="dataToSave.description")

      .c-data-editing__row.u-mt4
        p.u-mt0.u-mb0
          |Fecha de nacimiento:
        div(:class="{'is-validate':validationData.birthday}")
          input.c-data-editing__input.u-pt2.u-pb2(
            placeholder="Indique el año",
            v-model="dataToSave.birthday",
            type="date")

      .c-data-editing__row.u-mt3
        p.u-mt0.u-mb0
          |Celular:
        div
          .u-flex(v-for="element in dataToSave.cellphones")
            input.u-mb1.u-mr2(
              v-model="element.value"
              placeholder="XXXXXXX")
            label.u-flex.u-flex-column.u-justify-center.u-items-center
              span Principal
              input(
                style="min-width:initial;height:initial"
                v-model="element.main",
                type="checkbox")
          div(style="cursor:pointer",
            @click="dataToSave.cellphones.push({id:0,main:false,value:''})")
            i.u-icon.u-color-success plus
            span Añadir celular

      .c-data-editing__row.u-mt4
        p.u-mt0.u-mb0
          |Correo electrónico:
        div(:class="{'is-validate':validationData.email}")
          input.c-data-editing__input.u-pt2.u-pb2(
            placeholder="hola@miempresa.com",
            v-model="dataToSave.email",
            type="type")

      .c-data-editing__row.u-mt4
        p.u-mt0.u-mb0
          |Pais de residencia:
        div(:class="{'is-validate':validationData.countryId}")
          select.c-data-editing__input(
            v-model="dataToSave.countryId")
            option(:value="0", selected, style="display:none")
              |Seleccione un país
            option(v-for="(element, index) in countriesVisible",
                  :key="`countries${index}`",
                  :value="element.id")
              |{{element.name}}
      .c-data-editing__row.u-mt4
        p.u-mt0.u-mb0
          |Región / Estado:
        div(:class="{'is-validate':validationData.regionId}")
          select.c-data-editing__input(
            v-model="dataToSave.regionId")
            option(:value="0", selected, style="display:none")
              |Seleccione una región
            option(v-for="(element, index) in regionsAll",
                  :key="`regions${index}`",
                  :value="element.id")
              |{{element.name}}
      .c-data-editing__row.u-mt4
        p.u-mt0.u-mb0
          |Provincia:
        div(:class="{'is-validate':validationData.provinceId}")
          select.c-data-editing__input(
            v-model="dataToSave.provinceId", style="min-width:initial")
            option(:value="0", selected, style="display:none")
              |Seleccione
            option(v-for="(element, index) in provinces",
                  :key="`provincies${index}`",
                  :value="element.id")
              |{{element.name}}
      .c-data-editing__row.u-mt4
        p.u-mt0.u-mb0
          |Distrito:
        div(:class="{'is-validate':validationData.districtId}")
          select.c-data-editing__input(
            v-model="dataToSave.districtId", style="min-width:initial")
            option(:value="0", selected, style="display:none")
              |Seleccione
            option(v-for="(element, index) in districts",
                  :key="`regions${index}`",
                  :value="element.id")
                  |{{element.name}}
      .c-data-editing__row.u-mt4
        p.u-mt0.u-mb0
          |Dirección completa:
        div(:class="{'is-validate':validationData.address}")
          input.c-data-editing__input.u-pt2.u-pb2(
            placeholder="dirección",
            v-model="dataToSave.address",
            type="type")

      .c-data-editing__submit
        button(@click="updateProfileData", type="submit")
          |GUARDAR CAMBIOS
</template>

<script>
  import axios from 'axios'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    data () {
      return {
        // percentage: 0,
        percentage: 43,
        provinces: [],
        districts: [],
        selectedLangCode: false,
        dataToSave: {
          documentId: 1,
          serialIdentity: '',
          firstName: '',
          lastName: '',
          gender: 0,
          description: '',
          birthday: '',
          cellphones: [],
          email: '',
          countryId: 0,
          regionId: 0,
          provinceId: 0,
          districtId: 0,
          address: ''
        },

        validationData: {
          documentId: null,
          serialIdentity: null,
          firstName: null,
          lastName: null,
          gender: null,
          profilePhoto: null,
          description: null,
          birthday: null,
          email: null,
          countryId: null,
          regionId: null,
          provinceId: null,
          districtId: null,
          address: null
        },

        profilePhoto: {
          src: '',
          extension: '',
          exists: false,
          loading: false
        }
      }
    },

    created () {
      this.requestCountriesVisible()
      this.requestProvinces()
      this.requestDistricts()

      this.selectedLangCode = this.selectedLanguageJson.code
    },

    watch: {
      'profilePhoto.src' (newVal, oldVal) {
        if (newVal !== null) {
          this.profilePhoto.exists = newVal.length > 12
        }
      },
      selectedLangCode (newVal) {
        this.requestPeople()
      }
    },

    methods: {
      ...mapActions([
        'beginRegionsId',
        'requestCountriesVisible'
      ]),

      requestProvinces (id) {
        let url = `${window.API_URL}/provinces`
        url += id ? `?region=${id}` : ''
        axios({
          method: 'get',
          url: url,
          headers: {
            language: this.selectedLangCode,
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + this.accessToken
          }
        })
        .then(({data}) => {
          this.provinces = data.data
        })
      },
      requestDistricts (id) {
        let url = `${window.API_URL}/districts`
        url += id ? `?province=${id}` : ''
        axios({
          method: 'get',
          url: url,
          headers: {
            language: this.selectedLangCode,
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + this.accessToken
          }
        })
        .then(({data}) => {
          this.districts = data.data
        })
      },
      requestPeople () {
        axios({
          method: 'get',
          url: `${window.API_URL}/people`,
          headers: {
            language: this.selectedLangCode,
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + this.accessToken
          }
        })
        .then(({data}) => {
          this.dataToSave = data.data
          this.profilePhoto.src = data.data.photoSrc
          this.profilePhoto.exists = true
        })
      },

      updateProfileData () {
        let datatmp = this.dataToSave
        if (this.profilePhoto.extension) {
          datatmp = {
            ...datatmp,
            photoSrc: this.profilePhoto.src,
            photoType: this.profilePhoto.extension
          }
        }
        axios({
          method: 'put',
          url: `${window.API_URL}/user-profile`,
          headers: {
            language: this.selectedLangCode,
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + this.accessToken
          },
          data: datatmp
        })
        .then(() => {
          window.toastr.success('Datos actualizados correctamente', 'ZICOMARKET')
        })
        .catch(() => {
          window.toastr.error('Lo sentimos, ocurrió in error al actualizar los datos del perfil', 'ZICOMARKET')
        })
      },

      onFileChange (e) {
        let files = e.target.files || e.dataTransfer.files
        if (!files.length) { return false }
        files = files[0]

        let tmpFileType = typeFile(files.type)
        if (tmpFileType === 'image') {
          // this.fileType = tmpFileType
          this.saveType(files.name)
          this.createImage(files)
        } else {
          window.toastr.warning('Lo sentimos solo se permiten subir imagenes', 'ZICOMARKET')
          // window.alert('Solo se permiten Imagenes, Muchas Gracias!')
        }

        function typeFile (varType) {
          let posicion = varType.lastIndexOf('/')
          let whatType = varType.substr(0, posicion)

          if (whatType === 'image') {
            return whatType
          } else {
            return 'unknown'
          }
        }
      },
      saveType (name) {
        let posicion = name.lastIndexOf('.')
        let ancho = name.length
        this.profilePhoto.extension = name.substr(posicion + 1, ancho)
      },
      createImage (file) {
        let reader = new window.FileReader()
        let vm = this

        reader.onload = function (e) {
          vm.profilePhoto.src = e.target.result
        }
        reader.readAsDataURL(file)
      }
    },

    computed: {
      ...mapGetters([
        'countriesVisible',
        'regionsAll',
        'accessToken',
        'languagesAll',
        'selectedLanguageJson'
      ])
    }
  }
</script>
