<template lang="pug">
  .UpdateProfile
    sections-wrapper(:elements="1", :initialHeight="true")
      div(slot="element1", class="u-width-100 u-flex u-flex-column")
        .c-tab-company.c-tab-company--width-initial.c-tab-company--height-small.c-tab-company--background
          button.c-tab-company__item(
            type="button",
            class="is-select")
            |Su Perfil
          button.c-tab-company__item(
            type="button",
            @click="to_edit_company")
            |Su Empresa

        div
          profile()
</template>

<script>
  import Profile from './Profile'
  import { mapGetters } from 'vuex'

  export default {
    name: 'UpdateProfile',
    components: { Profile },
    methods: {
      to_edit_company () {
        this.$router.push({
          name: 'EditCompany',
          params: {
            companySlug: this.userProfile.company.slug
          }
        })
      }
    },

    computed: {
      ...mapGetters([
        'userProfile'
      ])
    }
  }
</script>
