.u-bg-primary
  background-color: $color-primary

.u-bg-secondary
  background-color: $color-secondary

.u-bg-tertiary
  background-color: $color-tertiary
.u-bg-tertiary--rgba
  background-color: rgba($color-tertiary, .5)

.u-bg-black
  background-color: #000
.u-bg-black--rgba
  background-color: rgba(#000, .6)

.u-bg-white
  background-color: #fff
.u-bg-white--rgba
  background-color: rgba(#fff, .5)

.u-bg-background
  background-color: $color-background !important

.u-bg-text
  background-color: $color-text

.u-bg-transparent
  background-color: transparent !important
  &:hover
    background-color: transparent !important
