.u-border-primary
  border: 1px solid alpha($color-primary, 0.3)
.u-border-gray
  border: 2px solid $color-background2 !important
  &:hover
    border: 2px solid $color-background2 !important


.u-border-bottom
  border-bottom: 1px solid rgba($color-text, 0.1)

.u-border-primary-bottom
  border-bottom: 1px solid rgba($color-primary, 0.8)

.u-border-primary-left
  border-left: 1px solid alpha($color-primary, 0.3)

.u-border-primary-right
  border-right: 1px solid alpha($color-primary, 0.3)

.u-border-primary-top
  border-top: 1px solid alpha($color-primary, 0.3)

.u-border-radius50
  border-radius: 50%
