.u-color-primary
  color: $color-primary !important
.u-color-secondary
  color: $color-secondary !important
.u-color-tertiary
  color: $color-tertiary !important

.u-color-text
  color: $color-text !important
.u-color-text2
  color: $color-text2 !important
.u-color-text3
  color: $color-text3 !important

.u-color-white
  color: #fff !important
.u-color-black
  color: #000 !important
