.u-inherit
  text-transform: inherit

.u-capitalize
  text-transform: capitalize

.u-lowercase
  text-transform: lowercase

.u-uppcercase
  text-transform: uppercase

.u-italic
  font-style: italic

.u-text-center
  text-align: center
.u-text-left
  text-align: left
.u-text-right
  text-align: right

.u-fz-05rem
  font-size: 0.5rem
.u-fz-025rem
  font-size: 0.25rem
.u-fz-075rem
  font-size: 0.75rem
.u-fz-1rem
  font-size: 1rem
