<template lang="pug">
  .c-ger-loading(:class="{'c-ger-loading--white': modifierWhite}")
    svg.c-ger-loading__load(x="0px", y="0px", viewBox="0 0 150 150")
      <circle class="c-ger-loading__inner" cx="75" cy="75" r="60" />
</template>

<script>
  export default {
    props: {
      modifierWhite: {
        type: Boolean,
        default: false
      }
    }
  }
</script>
