<template lang="pug">
  .c-update-button(:class="modifierClass")
    button(class="u-width-100",
          :type="type",
          @click="clickButton",
          v-show="!loading")
      span {{ text }}
    app-loading(v-show="loading", :modifier-white="true")
</template>

<script>
  export default {
    data () {
      return {
        inProcess: false,
        modifierClass: {
          'is-loading': this.loading,
          'c-update-button--width': this.definedWidth,
          'c-update-button--color-primary': this.colorPrimary
        }
      }
    },

    props: {
      loading: {
        type: Boolean,
        default: false
      },
      definedWidth: {
        type: Boolean,
        default: false
      },
      colorPrimary: {
        type: Boolean,
        default: false
      },
      text: {
        type: String,
        required: true,
        default: '¡Hola! Soy un boton'
      },
      type: {
        type: String,
        default: 'button'
      }
    },

    watch: {
      loading (newVal) {
        if (typeof newVal === 'boolean') {
          this.inProcess = newVal
          this.modifierClass['is-loading'] = newVal
        }
      }
    },

    methods: {
      clickButton () {
        this.$emit('click')
        this.inProcess = !this.inProcess
      }
    }
  }
</script>
