<template lang="pug">
  div.HomeScreen
    h2 Zicomarket Company
</template>

<script>
  export default {
    name: 'HomeScreen',
    beforeRouteEnter (to, from, next) {
      next({ name: 'Languages', params: { langCode: 'es' } })
    }
  }
</script>
