/*------------------------------------*\
  #Project settings
\*------------------------------------*/

$color-primary    : #88BC20;
$color-secondary  : #91b74a;
$color-tertiary   : #423F40;
$color-background : #f6f6f6ff;

$color-text       : #606062;
$color-text2      : #3c3c3b;
$color-text3      : #000000;
